@page
@model Spendwise_WebApp.Pages.BuyPackage.CheckoutModel
@{
    Layout = null;
}
<link href="~/css/checkout.css" rel="stylesheet" />
<link href="~/css/checkout-min-gzip.css" rel="stylesheet" />
<style>
    div#efEverythingInTheOrderContainer {
        max-width: 100% !important;
    }

    input#efPackageCheckoutButton {
        padding: 3%;
    }

    div#efPackageCheckout {
        text-align: right;
        margin: 2%;
    }

    table#efIncludedTable {
        width: 100%;
    }

    div#efPackageNet {
        text-align: right;
        overflow: hidden;
    }

    div#efPackageTax {
        text-align: right;
        overflow: hidden;
    }

   

    #efPackageNet span, #efPackageTax span, #efPackageTotal span {
        font-weight: 700;
        float: right;
        display: block;
       padding-left:10px;
    }
</style>
<div class="container mr-top-20">
    <div class="row-wide">
        <div class="col seven pd-right-35-imp t-twelve m-twelve t-pd-right-15-imp m-pd-right-15-imp pd-bot-30" id="CustomOptionalContainer" style="">
            <div class="d-hide t-hide m-hide xs-hide" id="packageName">Digital Package</div>
            <div class="company-requested-name d-hide t-hide m-hide xs-hide">CODEPLUS</div>
            <div class="OptionalContainer">
                <div id="OptionalContainerList">
                    <h3 class="OptionalItemsTitle fs-26 fw-700 fc-grey pd-top-5 pd-bot-5 mr-bot-25">Customers also bought:</h3>
                    <div class="checkout-notice default">
                        <p>
                            After you checkout on this page, you will be able to enter your
                            <br class="m-hide">
                            company details and select a business bank account (optional).
                        </p>
                    </div>
                    <div class="checkout-notice non-residents" style="display: none;">
                        <p>
                            After you checkout on this page, you will be able to enter your company
                            <br class="m-hide">
                            details and our staff will then submit your company for incorporation.
                        </p>
                    </div>
                    <div class="additional-items additional-items-group additional-items-address-services additional-items-address-services-monthly">
                        @if (Model.additionalPackageItems != null && Model.additionalPackageItems.Any())
                        {
                            foreach (var item in Model.additionalPackageItems)
                            {
                                <div class="inline-block additional-item twelve m-pd-bot-15 pd-bot-5 t-twelve m-twelve xs-twelve" data-id="@item.AdditionalPackageItemId">
                                    <div class="col eight t-seven m-eight xs-twelve pd-top-0 pd-left-0 pd-bot-0 m-pd-bot-5 xs-pd-bot-5">
                                        <p class="fs-15 lh-19 mr-bot-0 fc-dark fw-600">@item.ItemName</p>
                                        <p class="fs-15 lh-19 mr-bot-5 m-mr-top-10 mr-top-0 fc-dark">
                                            @item.ItemShortDesc
                                        </p>
                                    </div>
                                    <div class="col two t-three xs-four pd-right-0 pd-left-0 m-pd-left-0 xs-pd-left-0">
                                        <span class="checkout-additional-items__item--icon infobox-btn">
                                            <i class="fa fa-circle-info fc-bcbcbc" aria-hidden="true"></i>
                                        </span>
                                        <div class="infobox">
                                            <div class="infobox__wrapper">
                                                <a class="infobox__close">×</a>
                                                <div class="infobox__content">
                                                    @Html.Raw(item.ItemDetail)
                                                </div>
                                            </div>
                                        </div>
                                        <span class="fs-15 float-right lh-2l fc-dark">£@item.price</span>
                                    </div>
                                    <div class="col two t-two xs-four pd-right-0 m-pd-right-0 xs-pd-right-0 align-right xs-align-center">
                                        <input aria-disabled="false" class="add-product ui-button ui-widget ui-state-default ui-corner-all" onclick="AddItemToCheckout(@item.AdditionalPackageItemId)" role="button" type="button" value="Add">
                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="inline-block col five t-twelve m-twelve m-pd-top-0 m-pd-right-0 m-pd-left-0" id="originalCart" style="">
            <div id="efPageContent" class="ui-widget">
                <h3 class="OptionalItemsTitle fs-28 fw-700 fc-grey pd-top-5 pd-bot-5">Checkout</h3>
                <div id="efPackagePurchaseOptionsContainer" style="display:block">
                    <form method="POST" onsubmit="return false;" id="package-form" action="/buy/digital-package">
                        <input type="hidden" name="pa" value="submit_details">
                        <div style="clear:both" id="efPackageBuyIncludedOptionalDivider"></div>
                        <div id="efEverythingInTheOrderContainer">
                            <h3 id="efPackageIncludedItemsTitle">Your Basket</h3>
                            <p id="efPackageIncludedItemsSubtitle">Checkout &amp; proceed to payment</p>
                            <table class="efTable efPackageTable ui-widget-content" id="efIncludedTable" width="100%">
                                <thead>
                                    <tr class="ui-widget-header">
                                        <td width="70%">Item</td>
                                        <!--<td width="30%" style="text-align:center" class="remove-column">Quantity</td>-->
                                        <td width="30%" class="text-right">Price</td>
									</tr>
                                </thead>
								<tbody id="CheckoutItems">
									<tr class="efIncludedItemTableRow efOdd" data-pattern="formation">
                                        <td width="70%"><b>@Model.SelectedPackage.PackageName</b></td>
                                        <!--<td width="30%" style="text-align:center" class="remove-column fs-15"><input type="hidden" name="quantity[P2043]" value="1"> 1</td>-->
                                        <td width="30%" class="fs-15 text-right">£@Model.SelectedPackage.Price</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <div id="efPackageNet">Net:<span id="spmNetAmount">£@Model.SelectedPackage.Price</span></div>
                            <div id="efPackageTax">VAT:<span id="spmVatAmount">£1.60</span></div>
                            <div id="efPackageTotal">Order Total:<span id="spnTotalAmount">£59.58</span></div>
                            <div id="efPackageAgreeTerms">
                                <input type="checkbox" id="ChkCheckoutTerms" name="ChkCheckoutTerms" class="cy-accept-tnc">
                                <label for="tcagree" id="tcagree-checkbox-label">
                                    I agree to the <a href="/terms/" target="_blank">Terms and Conditions</a> &amp; <a href="/privacy-policy/" target="_blank">Privacy Policy</a>
                                </label>
                            </div>
                            <div id="efPackageCheckout">
                                <span class="efPackageCheckoutButtonLoader efHide"></span>
                                <input id="spPackageCheckoutButton" type="button" class="btn button--secondary" value="Checkout" role="button" onclick="btnCheckoutClick()" aria-disabled="false">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="checkout-info">
                <p class="title">
                    <strong class="fs-twenty-one t-fs-18 fc-dark">Eligible Countries List</strong>
                </p>
                <p class="fs-15 lh-19">
                    We can form companies for customers who are resident in most countries in the world; however, there are
                    several that are not eligible. Check if your country is on the <a href="#non-res--eligible-countries" data-lity="">Eligible Countries List.</a>
                </p>
            </div>
            <div class="checkout-info green fc-white">
                <p class="title">
                    <strong class="fs-twenty-one t-fs-18 fc-white"> <i class="fa fa-circle-info fc-white float-left mr-right-5" aria-hidden="true"></i>What happens next?</strong>
                </p>
                <ul class="fa-ul">
                    <li class="fs-15 lh-19 list-item-default mr-bot-10">
                        <span class="fa-li">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                        After checkout, you will be asked to enter your new company details and you can select a business bank
                        account (optional).
                    </li>
                    <li class="fs-15 lh-19 list-item-non-residents mr-bot-10" style="display: none;">
                        <span class="fa-li">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                        After checkout, you will be asked to enter your new company details (director and shareholder info).
                    </li>
                    <li class="fs-15 lh-19 mr-bot-10">
                        <span class="fa-li">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                        Our staff will then send your new company application to Companies House for approval.
                    </li>
                    <li class="fs-15 lh-19">
                        <span class="fa-li">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                        Most companies are registered within 24 hours.
                    </li>
                </ul>
            </div>
            <div class="checkout-info">
                <p class="title">
                    <strong class="fs-twenty-one t-fs-18 fc-dark"> <i class="ft-ico-thumb-up2 fc-green float-left mr-right-5"></i>Money Back Guarantee</strong>
                </p>
                <p class="fs-15 lh-19">
                    If you pay for your order and then decide you do not want to proceed, we will return your
                    money in full, in accordance with our Terms and Conditions.
                </p>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    @if (Model.additionalPackageItems != null && Model.additionalPackageItems.Any())
    {
        foreach (var item in Model.additionalPackageItems)
        {
            <div id="PackageItem_@item.AdditionalPackageItemId">
                <label class="PackItemName">@item.ItemName</label>
                <label class="PackItemPrice">@item.price</label>
            </div>
        }
    }
</div>

<form id="antiForgeryForm" method="post">
    @Html.AntiForgeryToken()
</form>

<script>
    window.selectedPackageItems = window.selectedPackageItems || [];
    window.selectedAdditionalPackageItems = window.selectedAdditionalPackageItems || [];
    $(document).ready(function () {
        var NetAmount = parseFloat($("#spmNetAmount").text().replace('£', ''));
        let vat = NetAmount * 0.20;
        $("#spmVatAmount").text("£" + vat.toFixed(2));
        let TotalAmount = NetAmount + vat;
        $("#spnTotalAmount").text("£" + TotalAmount.toFixed(2));
        var CheckOutSelectedItems = JSON.parse(Cookies.get("selectedPackageItems"));
        console.log("CheckOutSelectedItems", CheckOutSelectedItems);
        if (Array.isArray(CheckOutSelectedItems)) {
            CheckOutSelectedItems.forEach(function (item, index) {
                //selectedPackageItems.push(item);
                const match = item.match(/id="CheckOut_included_(\d+)"/);
                if (match) {
                    const itemId = match[1];
                    const targetDiv = $(`div[data-id='${itemId}']`);
                    targetDiv.css("display", "none");

                    //$("#CheckoutItems").append(item);
                    AddItemToCheckout(itemId);
                }

            });
        }
    });

    // if (typeof selectedPackageItems === 'undefined') {
    //     let selectedPackageItems = [];
    // }
    function AddItemToCheckout(itemId) {
        
        var PackItems = $("#PackageItem_" + itemId).children();
        var ItemName = $(PackItems[0]).text();
        var ItemPrice = $(PackItems[1]).text();
        console.log("PackItems", PackItems)

        const CheckoutItemStr = `
                                                        <tr id="CheckOut_included_${itemId}" class="efOptionalTrProduct efEven">
                                                            <td>${ItemName}</td>                                              
                                                            <td style="text-align:right" id="CheckOut_included_${itemId}_Price"><span><input type="button" class="efButton ui-button ui-widget ui-state-default ui-corner-all" value="X" onclick="removePackageItem(${itemId})" role="button" aria-disabled="false"></span> <span style=" display: inline-block; width: 50px;" class="chekout-price">£${ItemPrice}</span></td>
                                                        </tr>
                                                `;
        
        if (CheckoutItemStr != "") {
            $("#CheckoutItems").append(CheckoutItemStr);
        }

        selectedPackageItems.push(itemId);

        const ItemStr = `<li class="efOrderContentsListItem" id="CheckOut_included_${itemId}">${ItemName} <span class="OrderContentsListItemPrice">£${ItemPrice}</span></li> `;
        selectedAdditionalPackageItems.push(ItemStr);
        const targetDiv = $(`div[data-id='${itemId}']`);
        targetDiv.css("display", "none");

        var NetAmount = parseFloat($("#spmNetAmount").text().replace('£', ''));
        var VatAmount = parseFloat($("#spmVatAmount").text().replace('£', ''));

        var UpdatedNetAmount = parseFloat(NetAmount) + parseFloat(ItemPrice);
        $("#spmNetAmount").text("£" + UpdatedNetAmount.toFixed(2));
        let vat = UpdatedNetAmount * 0.20;
        $("#spmVatAmount").text("£" + vat.toFixed(2));
        // Calculate the total amount
        let TotalAmount = UpdatedNetAmount + vat;
        $("#spnTotalAmount").text("£" + TotalAmount.toFixed(2));



        //renderAddons();
    }

    function removePackageItem(itemId) {

        let ItemPrice = parseFloat($(`#CheckOut_included_${itemId}_Price`).text().replace('£', ''));
        var NetAmount = parseFloat($("#spmNetAmount").text().replace('£', ''));

        console.log("ItemPrice", ItemPrice);
        console.log("NetAmount", NetAmount);

        let UpdatedNetAmount = NetAmount - ItemPrice;
        let vat = UpdatedNetAmount * 0.20;
        let TotalAmount = UpdatedNetAmount + vat;

        $("#spmNetAmount").text("£" + UpdatedNetAmount.toFixed(2));
        $("#spmVatAmount").text("£" + vat.toFixed(2));
        $("#spnTotalAmount").text("£" + TotalAmount.toFixed(2));

        $(`#CheckOut_included_${itemId}`).remove();
        const targetDiv = $(`div[data-id='${itemId}']`);
        targetDiv.css("display", "block");

        //remove items from
        if (Array.isArray(selectedPackageItems)) {
            const filteredItems = CheckOutSelectedItems.filter(function (item) {
                const match = item.match(/id="CheckOut_included_(\d+)"/);
                if (match) {
                    const itemId = match[1];
                    return itemId !== itemId; // Keep all except the one to remove
                }
                return true; // Keep if not matched
            });

            selectedPackageItems = filteredItems;
        }
        if (Array.isArray(selectedAdditionalPackageItems)) {
            const filteredItems = CheckOutSelectedItems.filter(function (item) {
                const match = item.match(/id="CheckOut_included_(\d+)"/);
                if (match) {
                    const itemId = match[1];
                    return itemId !== itemId; // Keep all except the one to remove
                }
                return true; // Keep if not matched
            });

            selectedAdditionalPackageItems = filteredItems;
        }

        const expires = 7 ? { expires: 7, secure: true, sameSite: 'None' } : {};

        var CheckOutSelectedItems = JSON.parse(Cookies.get("selectedPackageItems") || "[]");
        var CheckOutAdditionalSelectedItems = JSON.parse(Cookies.get("selectedAdditionalPackageItems") || "[]");
        if (Array.isArray(CheckOutSelectedItems)) {
            const filteredItems = CheckOutSelectedItems.filter(function (item) {
                const match = item.match(/id="CheckOut_included_(\d+)"/);
                if (match) {
                    const itemId = match[1];
                    return itemId !== itemId; // Keep all except the one to remove
                }
                return true; // Keep if not matched
            });

            Cookies.set("NetAmount", $("#spmNetAmount").text(), expires);
            Cookies.set("VatAmount", $("#spmVatAmount").text(), expires);
            Cookies.set("TotalAmount", $("#spnTotalAmount").text(), expires);
            // Update cookie
            Cookies.set("selectedPackageItems", JSON.stringify(filteredItems), expires);
        }


        if (Array.isArray(CheckOutAdditionalSelectedItems)) {
            const filteredItems = CheckOutAdditionalSelectedItems.filter(function (item) {
                const match = item.match(/id="CheckOut_included_(\d+)"/);
                if (match) {
                    const itemId = match[1];
                    return itemId !== itemId; // Keep all except the one to remove
                }
                return true; // Keep if not matched
            });

            Cookies.set("selectedAdditionalPackageItems", JSON.stringify(filteredItems), expires);
        }

    }
    (function tooltipModal() {
        var infobox = $(".infobox"),
            infoboxBtn = $(".infobox-btn"),
            closeBtn = $(".infobox__close"),
            resizeTimeout;
        function getViewportWidth() {
            viewportWidth = window.innerWidth || document.documentElement.clientWidth;
        }
        function infoboxController() {
            getViewportWidth();
            infoboxBtn.off();
            if (viewportWidth < 980) {
                infoboxBtn.click(function () {
                    $(this).next().addClass("infobox--active");
                });
                infobox.click(function () {
                    $(this).removeClass("infobox--active");
                });
                $(".infobox__content").click(function (e) {
                    e.stopPropagation();
                });
            } else {
                infoboxBtn.mouseenter(function () {
                    closeBtn.before("<span class='infobox__triangle'></span>");
                    $(this).next().addClass("infobox--active");
                })
                infoboxBtn.mouseleave(function () {
                    $(this).next().removeClass("infobox--active");
                    $(this).next().find(".infobox__triangle").remove();
                });
            }
        }
        $(function () {
            infoboxController();
        });
        $(window).resize(function () {
            clearTimeout(resizeTimeout);
            resizeTimeout = setTimeout(infoboxController, 500);
        });
    }());

    function btnCheckoutClick() {
        
        let isChecked = $('#ChkCheckoutTerms').prop('checked');
        var token = $('#antiForgeryForm input[name="__RequestVerificationToken"]').val();
        if (isChecked) {
            console.log(JSON.stringify(selectedPackageItems));
            const expires = 7 ? { expires: 7, secure: true, sameSite: 'None' } : {};
            Cookies.set("NetAmount", $("#spmNetAmount").text(), expires);
            Cookies.set("VatAmount", $("#spmVatAmount").text(), expires);
            Cookies.set("TotalAmount", $("#spnTotalAmount").text(), expires);
            Cookies.set("selectedPackageItems", JSON.stringify(selectedPackageItems), expires);
            Cookies.set("selectedAdditionalPackageItems", JSON.stringify(selectedAdditionalPackageItems), expires);
            $.ajax({
                type: 'POST',
                url: '/BuyPackage/Checkout?handler=AddCheckOutDetails',
                headers: {
                    'RequestVerificationToken': token
                },
                processData: false, // Important when sending no data
                contentType: false,
                success: function (data) {
                    if(data.success == true && data.orderId > 0){
                        $.ajax({
                            url: "/BuyPackage/CompanyDetails?id=" + data.orderId,
                            type: "get",
                            success: function (result) {
                                $(".packageTab").removeClass("active");
                                $("#PackageTabContent").html(result);
                                $("#spnCompanyDetails").addClass("active");
                                $("#spnCompanyName").addClass("PackTabProcessed");
                                $("#spnSelectPackage").addClass("PackTabProcessed");
                                $("#spnCheckout").addClass("PackTabProcessed");
                                $("#spnSelectCompName").text($("#hdnSelectedCompany").val());
                                Cookies.set("OrderId", data.orderId, expires);
                            }
                        })
                    }                    
                }
            })
        }
        else {
            showToast('You must agree to the terms and conditions.', 'danger');
        }
    }


</script>
