@page
@model Spendwise_WebApp.Pages.BuyPackage.limited_companyModel
@{
    Layout = null;
}
<section id="limited-company-content" class="compare-packages-grid compare-packages-grid--desktop">
    <div>
        <div class="row">
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        @foreach (var item in Model.Package)
                        {
                            <th>
                                <h3>@item.PackageName</h3>
                                <span class="compare-packages-grid__price">£@item.Price</span>
                                <div class="compare-packages-grid__buttons">
                                    <a href="/BuyPackage?packageName=@item.PackageName" class="button1 js-routing button button--secondary">Buy Now</a>
                                    <a asp-page="/Package" asp-route-packageName="@item.PackageName" class="button button--alt">Read More</a>
                                </div>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var feature in Model.packageFeatureList)
                    {
                        <tr>
                            <td>@feature.Feature</td>
                            @foreach (var packageitem in Model.Package)
                            {
                                <td class="check-icon">
                                    @if (packageitem.PackageFeatures.Contains(feature.FeatureId.ToString()))
                                    {
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    }
                                </td>
                            }
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        @foreach (var item in Model.Package)
                        {
                            <td>
                                <h3>@item.PackageName</h3>
                                <span class="compare-packages-grid__price">£@item.Price</span>
                                <div class="compare-packages-grid__buttons">
                                    <a href="/BuyPackage?packageName=@item.PackageName" class="button1 js-routing button button--secondary">Buy Now</a>
                                    <a asp-page="/Package" asp-route-packageName="@item.PackageName" class="button button--alt">Read More</a>
                                </div>
                            </td>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>