@page
@model Spendwise_WebApp.Pages.FormationPage.AppointmentPersonTabModel
@{
    Layout = null;
    var selected = Model.SelectedPosition;
}
@{
    var ResidentialOfficeAddress = Model.PersonAddressAddressList.Where(x => x.IsResidetialAddress == true && x.CompanyId == Model.Company.CompanyId && x.IsCurrent == true).FirstOrDefault();
    var ServiceOfficeAddress = Model.PersonAddressAddressList.Where(x => x.IsServiceAddress == true && x.CompanyId == Model.Company.CompanyId && x.IsCurrent == true).FirstOrDefault();
}

<div class="ef-panel-wrapper" id="appPersonTab">
    <div class="head-04" id="ef-panel-title">
        <h1>Appointments</h1>
    </div>
    <div class="" id="ef-panel-content">
        <div id="ef-panel-inner-content">
            <div id="ef-global-officer-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
            </div>
            <div class="w-tabs" id="ef-officer-form-wrapper">
                <!-- start tabs -->
                @*  <div class="w-tab-menu ef-officer-form-tab-menu ef-person-tab">
                    <a class="tab-link w-tab-link w-inline-block" aria-current="page" data-target="#position">
                        <div>Position</div>
                    </a>
                    <a class="tab-link w-tab-link w-inline-block" data-target="#officer">
                        <div>Officer</div>
                    </a>
                    <a class="tab-link w-tab-link w-inline-block" data-target="#details">
                        <div>Details</div>
                    </a>
                    <a class="tab-link w-tab-link w-inline-block" data-target="#addressing" style="width: 133px;">
                        <div>Addressing</div>
                    </a>
                </div> *@
                <!-- end tabs -->
                <div id="scrollContainer">
                    <div class="tab-pane current" id="Formation">
                        <div id="position" class="appointment-section">
                            <div class="w-tab-content">
                                <div class="w-tab-pane w--tab-active ef-tab-pane-position" data-tab="position">
                                    <div class="head-01">
                                        <h1>Position</h1>
                                    </div>
                                    <div class="ef-information-box">
                                        <h2 class="ef-information-box-title">Directors and Shareholders</h2>
                                        <p>A limited company must have at least one director and one shareholder. One person may hold both of these positions. </p>
                                        <h2 class="ef-information-box-title icon">Persons with Significant Control (PSCs)</h2>
                                        <p>Any person who ultimately controls more than 25% of the company is a Person with Significant Control (PSC). </p>
                                        <p><b>It is now a legal requirement to identify the PSCs of a company. Please tick the Person with Significant Control (PSC) box if you qualify as a PSC of this company (see below).</b></p>
                                        <p>A Person with Significant Control (PSC) is anyone who meets one or more of the following conditions: </p>
                                        <ul>
                                            <li>owns more than 25% of the company’s shares.</li>
                                            <li>holds more than 25% of the company’s voting rights.</li>
                                            <li>holds the right to appoint or remove the majority of directors.</li>
                                            <li>has the right to, or actually exercises significant influence or control.</li>
                                            <li>holds the right to exercise or actually exercises significant control over a trust or company that meets one of the first 4 conditions.</li>
                                        </ul>
                                        <h3>Am I a PSC?</h3>
                                        <p>If you are a shareholder with more than 25% of the company's shares - yes, you are a PSC, and you should also <b>tick the Person with Significant Control (PSC) box below</b>. </p>
                                    </div>
                                    <div style="display:none; font-size: 20px;" class="ef-alert-box fail" id="position-error">
                                    </div>
                                    <div class="ef-form-wrap">
                                        <h2>Choose Position</h2>
                                        <div class="hr-line-1"></div>
                                        <p class="officer-extra-text mr-bot-30 fs-14 lh-18">Please tick all boxes that are relevant to this person. If this person is to hold more than one position, eg. Will be a director, shareholder and PSC, make all appointments now, by ticking 3 boxes.</p>
                                        <div class="role-select-wrapper">
                                            <div class="w-row row-role-select">
                                                <div class="w-col">
                                                    <div class="w-checkbox">
                                                        <input class="w-checkbox-input" type="checkbox" id="isDirector" value="Director" @(selected.Contains("Director") ? "checked" : "") />
                                                        <label class="w-form-label" for="officer-topdog">Director</label>
                                                        <span class="ef-modal-help-icon" data-ref="HELP|TOP_DOG_LBS"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                                    </div>
                                                </div>
                                                <div class="w-col">
                                                    <div class="w-checkbox">
                                                        <input class="w-checkbox-input" type="checkbox" id="isShareholder" value="Shareholder" @(selected.Contains("Shareholder") ? "checked" : "") />
                                                        <label class="w-form-label" for="officer-holder">Shareholder</label>
                                                        <span class="ef-modal-help-icon" data-ref="HELP|HOLDER_LBS"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                                    </div>
                                                </div>
                                                <div class="w-col">
                                                    <div class="w-checkbox">
                                                        <input class="w-checkbox-input" type="checkbox" id="isSecretary" value="Secretary" @(selected.Contains("Secretary") ? "checked" : "") />
                                                        <label class="w-form-label" for="officer-secretary">Secretary</label>
                                                        <span class="ef-modal-help-icon" data-ref="HELP|SECRETARY"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                                    </div>
                                                </div>
                                                <div class="w-col">
                                                    <div class="w-checkbox">
                                                        <input class="w-checkbox-input" type="checkbox" id="isPSC" value="PSC" @(selected.Contains("PSC") ? "checked" : "") />
                                                        <label class="w-form-label" for="officer-PSC">Person with Significant Control (PSC)</label>
                                                        <span class="ef-modal-help-icon" data-ref="HELP|PSC"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-row">&nbsp;</div>
                                @* <div class="w-row">
                                    <div class="w-col">
                                        <button type="button" id="btnPersonPosition" class="ef-btn ef-primary-btn ef-submit-btn">Next</button>
                                    </div>
                                </div> *@
                            </div>
                            <!-- end position tab -->
                        </div>

                        <div id="officer" class="appointment-section">
                            <div class="w-tab-pane ef-tab-pane-pick-officer" data-tab="Tab 2" style="display: block;">
                                <div class="head-02">
                                    <h1> Officer </h1>
                                </div>
                                <div class="define-new-hide ef-form-wrap ef-recent-officer-box" style="">
                                    <div class="ef-item-box ef-selected">
                                        <div class="ef-item-content">
                                            <div class="w-row ef-panel-row">
                                                <div class="w-officer-col">
                                                    <h3 class="forward-address">Recent Officers</h3>
                                                    <button type="button" class="ef-btn ef-select-btn" onclick="showOfficerPanel()">
                                                        Recently used Officers
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @* <h2>Recent Officers</h2>

                                    <div class="" style="margin-bottom:25px">
                                        @foreach (var item in Model.OfficersList)
                                        {
                                            <div class="w-clearfix simple-row-elem">
                                                <div class="w-row ef-panel-row">
                                                    <div class="w-col w-col-8">
                                                        <p>@item.FirstName @item.LastName</p>
                                                    </div>
                                                    <div class="w-col w-col-4 w-clearfix add-col">
                                                        <button type="button" class="ef-btn ef-primary-btn ef-choose-btn" onclick='btnGoToDetailsTab(@Html.Raw(Json.Serialize(item)))'>Choose</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div> *@
                                </div>
                                @* <div class="ef-form-wrap define-new-hide ef-create-officer-box" style="margin-bottom: 25px;">
                                    <h2>New Officer</h2>
                                    <div class="w-clearfix simple-row-elem">
                                        <div class="w-row ef-panel-row">
                                            <div class="w-col w-col-8">
                                                <p><strong>Create a new Officer</strong></p>
                                            </div>
                                            <div class="w-col w-col-4 w-clearfix add-col">
                                                <button type="button" id="create-new-person-officer" class="ef-btn ef-primary-btn">Select</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> *@
                            </div>
                        </div>

                        <div id="details" class="appointment-section">
                            <div class="w-tab-pane ef-tab-pane-details" data-tab="Tab 3" style="display: block;">
                                <div class="head-03">
                                    <h1> Details </h1>
                                </div>
                                <div class="ef-information-box">
                                    <h2 class="ef-information-box-title">Personal Details</h2>
                                    <p>It is recommended you enter your name as it appears on your ID, eg. passport or drivers licence.</p>
                                </div>
                                <div style="display:none; font-size: 20px;" class="ef-alert-box fail" id="residentialAddress-error"> </div>
                                <div style="display:none;" class="ef-alert-box fail" id="no-officer-nationality">
                                    <span style="float:right;" class="ef-modal-help-icon nationality-help" data-ref="HELP|NATIONALITY"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                    <div id="" class="ef-alert-box-main-text main-error-text"></div>
                                </div>
                                <div id="officer-details-div">
                                    <div class="ef-form-wrap">
                                        <h2 id="preselected-officer"> Officer Details </h2>
                                        <div class="hr-line-1"></div>
                                        <div class="w-row row-margin">
                                            <div class="w-col w-col-6" style="">
                                                <div id="officer-title-wrapper">
                                                    <input type="hidden" asp-for="Officers.OfficerId" />
                                                    <div id="officer-label-wrapper">
                                                    </div>
                                                    <div class="ef-autocomplete-wrapper">
                                                        <label class="field-label" for="officer-title">Title</label>
                                                        <input class="w-input" type="text" placeholder="Title" asp-for="Officers.Title">
                                                        <span class="text-address-error-message" id="Officers_Title_error" style="display: none;"></span>
                                                    </div>
                                                </div>
                                                <div id="officer-firstname-wrapper">
                                                    <label class="field-label" for="officer-firstname">First name(s)</label>
                                                    <input class="w-input" type="text" placeholder="First name" asp-for="Officers.FirstName" />
                                                    <span class="text-address-error-message" id="Officers_FirstName_error" style="display: none;"></span>
                                                </div>
                                                <div id="officer-lastname-wrapper">
                                                    <label class="field-label" for="officer-lastname">Last name</label>
                                                    <input class="w-input" type="text" placeholder="Last name" asp-for="Officers.LastName">
                                                    <span class="text-address-error-message" id="Officers_LastName_error" style="display: none;"></span>
                                                </div>
                                            </div>
                                            <div class="w-col w-col-6">
                                                <div id="officer-dob-wrapper">
                                                    <label class="field-label" for="date-of-birth">Date of Birth</label>
                                                    <input class="form-control w-input" type="date" asp-for="Officers.DOB" />
                                                    <span class="text-address-error-message" id="Officers_DOB_error" style="display: none;"></span>
                                                </div>
                                                <div id="officer-nationality-wrapper">
                                                    <div class="ef-autocomplete-wrapper">
                                                        <label class="field-label" for="officer-nationality--disabled">
                                                            Nationality
                                                            <span class="ef-modal-help-icon nationality-help" data-ref="HELP|NATIONALITY"> - <span>List of accepted nationalities</span>&nbsp;</span>
                                                        </label>
                                                        <input class="w-input data-hj-whitelist" type="text" placeholder="Nationality" asp-for="Officers.Nationality">
                                                        <span class="text-address-error-message" id="Officers_Nationality_error" style="display: none;"></span>
                                                    </div>
                                                </div>
                                                <div id="officer-occupation-wrapper">
                                                    <label class="field-label" for="officer-occupation">Occupation</label>
                                                    <input class="w-input" type="text" placeholder="Occupation" asp-for="Officers.Occupation">
                                                    <span class="text-address-error-message" id="Officers_Occupation_error" style="display: none;"></span>
                                                </div>
                                            </div>
                                            <div class="w-row">&nbsp;</div>
                                            <!-- start res address -->
                                            <div class="w-col w-col-12" id="residential-address-wrapper">
                                                <h3 for="officer-residential-address">Residential Address </h3>
                                                <div class="ef-item-box ef-selected">
                                                    <div class="ef-item-content">
                                                        <div class="w-row ef-panel-row">
                                                            <button type="button" class="ef-btn ef-select-btn" id="ExsistingAddress" onclick="showUserAddressPanel('Residential')">
                                                                Recently used addresses
                                                            </button>
                                                            <button type="button" class="ef-btn ef-select-btn" id="openPersonSecondModal" onclick="openAddressModal('Residential')">
                                                                New Address
                                                            </button>
                                                            <div class="w-col w-col-8" style="margin-top: 10px;">
                                                                <div class="">
                                                                    <span class="ef-js-forwarding-address">
                                                                        @if (ResidentialOfficeAddress != null)
                                                                        {
                                                                            @($"{ResidentialOfficeAddress.HouseName} {ResidentialOfficeAddress.Street}, {ResidentialOfficeAddress.Town}, {ResidentialOfficeAddress.County}, {ResidentialOfficeAddress.PostCode}, {ResidentialOfficeAddress.Country}")
                                                                        }
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end res address -->
                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-10" style="">
                                                    <div class="officer-paq-wrapper">
                                                        <h3>Authentication Questions</h3>
                                                        <div class="w-row">
                                                            <div class="w-col w-col-3">
                                                                <label class="field-label" id="pac-q1-label" for="pac-q1">Select First 3 letters of</label>
                                                            </div>
                                                            <div class="w-col w-col-5">
                                                                <select class="w-select appointments-field auth-select" asp-for="Officers.Authentication1" style="margin-bottom: 20px;">
                                                                    <option value=""> --Select-- </option>
                                                                    <option value="MUM" data-label="Select First 3 letters of">Mother's Maiden Name</option>
                                                                    <option value="DAD" data-label="Select First 3 letters of">Father's Forename</option>
                                                                    <option value="BIRTOWN" data-label="Select First 3 letters of">Town Of Birth</option>
                                                                    <option value="TEL" data-label="Select Last 3 digits of">Telephone Number</option>
                                                                    <option value="NATINS" data-label="Select Last 3 characters of">National Insurance</option>
                                                                    <option value="PASSNO" data-label="Select Last 3 digits of">Passport Number</option>
                                                                </select>
                                                                <span class="text-address-error-message" id="Officers_Authentication1_error" style="display: none;"></span>
                                                            </div>
                                                            <div class="w-col w-col-1">
                                                                <label class="field-label" for="pac-a1">Answer</label>
                                                            </div>
                                                            <div class="w-col w-col-3 w-clearfix">
                                                                <input class="w-input ef-pac-answer" type="text" asp-for="Officers.AuthenticationAns1" />
                                                                <span class="text-address-error-message" id="Officers_AuthenticationAns1_error" style="display: none;"></span>
                                                            </div>
                                                        </div>
                                                        <div class="w-row">
                                                            <div class="w-col w-col-3">
                                                                <label class="field-label" id="pac-q2-label" for="pac-q2">Select Last 3 digits of</label>
                                                            </div>
                                                            <div class="w-col w-col-5">
                                                                <select class="w-select appointments-field auth-select" asp-for="Officers.Authentication2" style="margin-bottom: 20px;">
                                                                    <option value=""> --Select-- </option>
                                                                    <option value="MUM" data-label="Select First 3 letters of">Mother's Maiden Name</option>
                                                                    <option value="DAD" data-label="Select First 3 letters of">Father's Forename</option>
                                                                    <option value="BIRTOWN" data-label="Select First 3 letters of">Town Of Birth</option>
                                                                    <option value="TEL" data-label="Select Last 3 digits of">Telephone Number</option>
                                                                    <option value="NATINS" data-label="Select Last 3 characters of">National Insurance</option>
                                                                    <option value="PASSNO" data-label="Select Last 3 digits of">Passport Number</option>
                                                                </select>
                                                                <span class="text-address-error-message" id="Officers_Authentication2_error" style="display: none;"></span>
                                                            </div>
                                                            <div class="w-col w-col-1">
                                                                <label class="field-label" for="pac-a2">Answer</label>
                                                            </div>
                                                            <div class="w-col w-col-3 w-clearfix">
                                                                <input class="w-input ef-pac-answer" type="text" asp-for="Officers.AuthenticationAns2" />
                                                                <span class="text-address-error-message" id="Officers_AuthenticationAns2_error" style="display: none;"></span>
                                                            </div>
                                                        </div>
                                                        <div class="w-row last-margin">
                                                            <div class="w-col w-col-3">
                                                                <label class="field-label" id="pac-q3-label" for="pac-q3">Select First 3 letters of</label>
                                                            </div>
                                                            <div class="w-col w-col-5">
                                                                <select class="w-select appointments-field auth-select" asp-for="Officers.Authentication3" style="margin-bottom: 20px;">
                                                                    <option value=""> --Select-- </option>
                                                                    <option value="MUM" data-label="Select First 3 letters of">Mother's Maiden Name</option>
                                                                    <option value="DAD" data-label="Select First 3 letters of">Father's Forename</option>
                                                                    <option value="BIRTOWN" data-label="Select First 3 letters of">Town Of Birth</option>
                                                                    <option value="TEL" data-label="Select Last 3 digits of">Telephone Number</option>
                                                                    <option value="NATINS" data-label="Select Last 3 characters of">National Insurance</option>
                                                                    <option value="PASSNO" data-label="Select Last 3 digits of">Passport Number</option>
                                                                </select>
                                                                <span class="text-address-error-message" id="Officers_Authentication3_error" style="display: none;"></span>
                                                            </div>
                                                            <div class="w-col w-col-1">
                                                                <label class="field-label" for="pac-a3">Answer</label>
                                                            </div>
                                                            <div class="w-col w-col-3 w-clearfix">
                                                                <input class="w-input ef-pac-answer" type="text" asp-for="Officers.AuthenticationAns3" />
                                                                <span class="text-address-error-message" id="Officers_AuthenticationAns3_error" style="display: none;"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-row">&nbsp;</div>
                               @*  <div class="w-row">
                                    <div class="w-col">
                                        <button type="button" id="officer-submit-details-tab" class="ef-btn ef-primary-btn ef-submit-btn ef-officer-next-step"> Save </button>
                                    </div>
                                </div> *@
                            </div>
                        </div>

                        <div id="addressing" class="appointment-section">
                            <div class="w-tab-pane ef-tab-pane-addressing" data-tab="Tab 5" style="display: block;">
                                <div class="head-04">
                                    <h1> Addressing </h1>
                                </div>
                                <div class="ef-form-wrap" id="service-address-wrapper">
                                    <h2>Service Address</h2>
                                    <div class="hr-line-1"></div>
                                    <div class="ef-information-box">
                                        <h2 class="ef-information-box-title">Service Address</h2>
                                        <p class="service-address-p1">Directors, subscribers (shareholders at the time of company incorporation), secretaries and PSCs (eg. shareholders who own more than 25% of the company's shares) are obliged to file a Service Address with the Registrar of Companies. The Service Address is made public.</p>
                                        <p class="service-address-p2">There is nothing to stop you from using your Residential Address as your Service Address, but if you would prefer to keep this information confidential and off the public register, then using our London address will provide this confidentiality. We will then forward all statutory mail with no additional postage charges.</p>
                                    </div>
                                    <div style="display:none; font-size: 20px;" class="ef-alert-box fail" id="servicerAddress-error"> </div>
                                    <!-- use own address block -->
                                    <div class="ef-item-box" style="" id="my-own-service-address">
                                        <div class="ef-item-content">
                                            <div class="w-row ef-panel-row">
                                                <div class="w-col">
                                                    <h3>Choose to use your own address</h3>
                                                </div>
                                            </div>
                                            <div class="ef-item-box ef-selected">
                                                <div class="ef-item-content">
                                                    <div class="w-row ef-panel-row">
                                                        <button type="button" class="ef-btn ef-select-btn" id="ExsistingAddress" onclick="showUserAddressPanel('Service')">
                                                            Recently used addresses
                                                        </button>
                                                        <button type="button" class="ef-btn ef-select-btn" id="openPersonSecondModal" onclick="openAddressModal('Service')">
                                                            New Address
                                                        </button>
                                                        <div class="w-col w-col-8" style="margin-top: 10px;">
                                                            <div class="">
                                                                <span class="service-forwarding-address">
                                                                    @if (ServiceOfficeAddress != null)
                                                                    {
                                                                        @($"{ServiceOfficeAddress.HouseName} {ServiceOfficeAddress.Street}, {ServiceOfficeAddress.Town}, {ServiceOfficeAddress.County}, {ServiceOfficeAddress.PostCode}, {ServiceOfficeAddress.Country}")
                                                                    }
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- -end use own address -->
                                    <!-- start 'other' products -->
                                    <div class="ef-extra-products ef-item-box service-address-upsell  " id="service-pid-22185">
                                        <div class="ef-item-content">
                                            <div class="w-row ef-panel-row ef-item-bottom-border">
                                                <div class="w-col w-col-9">
                                                    <h3>Service Address - Pay Monthly</h3>
                                                </div>
                                                <div class="w-col w-col-3 w-clearfix">
                                                    <div class="w-clearfix item-box-price">
                                                        <div class="price">£2.99</div>
                                                        <div class="renewal">Renewed monthly at £2.99</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-row ef-panel-row">
                                                <div class="w-col w-col-4 ef-panel-icon">
                                                    <div class="ef-product-icon ef-service-address-icon ef-product-22185">
                                                    </div>
                                                </div>
                                                <div class="w-col w-col-8">
                                                    <p></p>
                                                    <h3>Protect the privacy of your home address</h3>
                                                    <p>Use our London WC2 address as your service address<br class="m-hide"> and keep your residential address off the public record.</p>
                                                    <p><strong>London:</strong> 71-75 Shelton Street, Covent Garden, London, WC2H 9JQ</p>
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="w-row ef-panel-row">
                                                <div class="w-col w-col-4 savings-amount-row">
                                                </div>
                                                <div class="w-col w-col-8 w-clearfix add-col">
                                                    <button type="button" class="ef-btn item-show-details collapsed" data-bs-toggle="collapse" data-bs-target="#address-collapse" aria-expanded="false" aria-controls="address-collapse">Details</button>
                                                    <button id="ef-assign-22185" type="button" class="ef-btn ef-primary-btn ef-primary-btn__select ef-assign-select-serv-product" onclick="">Buy Now</button>
                                                    @* <button id="ef-unassign-22185" type="button" class="ef-btn ef-primary-btn ef-primary-btn__remove ef-hide ef-assign-remove-serv-product" onclick="FormBuilder.RemoveOfficerAddress('0','22185', this)">Remove</button> *@
                                                </div>
                                            </div>
                                            <!--  item details -->
                                            <div class="ef-item-details collapse" id="address-collapse">
                                                <div class="w-row">
                                                    <div class="w-col w-col-12">
                                                        <h3 class="ef-item-bottom-border">Why would I use your Service Address?</h3>
                                                    </div>
                                                    <div class="w-col w-col-6">
                                                        <h4><img src="//qualityformationsblog.co.uk/dev/images/fonts/svg/shield.svg" width="50" alt="light bulb"> Protect your privacy</h4>
                                                        <p>Protect the privacy of your home with our prestigious London service address.</p>
                                                        <p>This service allows you to maintain the privacy of your home address, as our prestigious Covent Garden, London address will appear on public record as the official address of a company officer. This service includes the scanning and emailing of all official government mail addressed to a company officer, from a number of official government bodies, free of charge.</p>
                                                        <p>Mail from the following government bodies are covered by this service: Companies House, HMRC, Government Gateway, Department for Work &amp; Pensions (DWP), Office for National Statistics, Information Commissioner’s Office (ICO) and Court documents.</p>
                                                        <p>This service is renewable on a monthly basis at the cost of £2.99 +VAT.</p>
                                                    </div>
                                                    <div class="w-col w-col-6">
                                                        <h4><img src="//qualityformationsblog.co.uk/dev/images/fonts/svg/bulb.svg" width="50" alt="light bulb"> Benefits of our Service Address</h4>
                                                        <ul class="fa-ul fs-14">
                                                            <li><i class="fa-li fa fa-check fs-green" aria-hidden="true"></i> Our London service address will protect the privacy of your home address.</li>
                                                            <li><i class="fa-li fa fa-check fs-green" aria-hidden="true"></i> It prevents unsolicited mail and visitors from arriving at their private residence.</li>
                                                            <li><i class="fa-li fa fa-check fs-green" aria-hidden="true"></i> A prestigious London service address will enhance your professional image.</li>
                                                        </ul>
                                                    </div>
                                                    <div class="w-col w-col-12">
                                                        <p><strong>Please note:</strong> Forwarding of service address mail by scan and email is free of charge. Mail will be forwarded on a daily basis.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- end item details -->
                                        </div>
                                    </div>

                                    @* List Of Officer *@
                                    <div>
                                        @if (Model.OfficersList != null && Model.OfficersList.Count > 0)
                                        {
                                            <label for="selectType" class="currentAppointment">Current Appointments</label>
                                            <p> Below is a list of officers currently assigned to your company. </p>
                                            <table id="ef-current-appointments-table" class="ef-primary-table table">
                                                <tbody>
                                                    <tr>
                                                        <th> Name </th>
                                                        <th> Director </th>
                                                        <th> Shareholder </th>
                                                        <th> Secretary </th>
                                                        <th> PSC </th>
                                                        <th></th>
                                                    </tr>
                                                    @foreach (var item in Model.OfficersList)
                                                    {
                                                        var position = item.PositionName?.Split(',') ?? Array.Empty<string>();
                                                        <tr class="w-row-even">
                                                            <td>
                                                                @item.FirstName @item.LastName
                                                            </td>
                                                            <td>
                                                                @(position.Contains("Director") ? "✔" : "❌")
                                                            </td>
                                                            <td>
                                                                @(position.Contains("Shareholder") ? "✔" : "❌")
                                                            </td>
                                                            <td>
                                                                @(position.Contains("Secretary") ? "✔" : "❌")
                                                            </td>
                                                            <td>
                                                                @(position.Contains("PSC") ? "✔" : "❌")
                                                            </td>
                                                            <td>
                                                                <span style="">
                                                                    <button type="button" class="ef-remove-officer" onclick="btnRemovePersonOfficer(@item.OfficerId)">Remove</button>
                                                                    <button type="button" class="ef-edit-officer" onclick='editPersonOfficer(@Html.Raw(Json.Serialize(item)))'>Edit</button>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        }
                                    </div>
                                    <div class="hr-line-2"></div>
                                </div>
                                <!-- end of service address wrappeer -->
                                <div class="w-row">&nbsp;</div>
                                <div class="w-row">
                                    <div class="w-col">
                                        <button type="button" class="btn btn-success" onclick="btnBackToMainPage()">Back</button>
                                        <button type="button" id="goToNextTab" class="ef-btn ef-next-btn "> Next </button>
                                        <button type="button" id="addNewOfficer" class="ef-btn ef-new-btn"> Add New Officer </button>
                                        <button type="button" id="submit-person-tab" class="ef-btn ef-app-submit-btn"> Save Person Officer </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Choose Address Modal *@
@* <div class="modal fade" id="personAddressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Forwarding Address</h5>
                <p>Tell us where to forward your mail to you, by entering your address below.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div id="an-address" class="ef-address-form" style="">
                    <div>
                        <div id="use-previous-address-or-search" class="address-form-div" style="display:block">
                            <h4>Recently used addresses</h4>

                            <div id="residentialAddressSection" class="address-section">
                                @foreach (var item in Model.PersonAddressAddressList.Where(x => x.IsResidetialAddress == true))
                                {
                                    <div class="w-clearfix simple-row-elem">
                                        <div class="w-row ef-panel-row">
                                            <div class="w-col w-col-8">
                                                <p>@item.HouseName, @item.Street, @item.Town, @item.County, @item.PostCode, @item.Country</p>
                                            </div>
                                            <div class="w-col w-col-4 w-clearfix add-col">
                                                <button type="button" class="ef-btn ef-alt-address-btn" onclick='editPersonAddress(@Html.Raw(Json.Serialize(item)))'>Edit</button>
                                                <button type="button" class="ef-btn ef-select-btn" onclick='selectPersonAddress(@Html.Raw(Json.Serialize(item)))'>Select</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div id="serviceAddressSection" class="address-section">
                                @foreach (var item in Model.PersonAddressAddressList.Where(x => x.IsServiceAddress == true))
                                {
                                    <div class="w-clearfix simple-row-elem">
                                        <div class="w-row ef-panel-row">
                                            <div class="w-col w-col-8">
                                                <p>@item.HouseName, @item.Street, @item.Town, @item.County, @item.PostCode, @item.Country</p>
                                            </div>
                                            <div class="w-col w-col-4 w-clearfix add-col">
                                                <button type="button" class="ef-btn ef-alt-address-btn" onclick='editPersonAddress(@Html.Raw(Json.Serialize(item)))'>Edit</button>
                                                <button type="button" class="ef-btn ef-select-btn" onclick='selectPersonAddress(@Html.Raw(Json.Serialize(item)))'>Select</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <h4>Or enter a new Address</h4>

                            <div class="w-clearfix simple-row-elem">
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-8">
                                        <p>Enter new Address</p>
                                    </div>
                                    <div class="w-col w-col-4 w-clearfix add-col">

                                        <!-- <span class="ef-btn ef-primary-btn ef-alt-btn ef-cancel-address" onclick="javascript:void(0)" >Cancel</span>-->
                                        <button type="button" class="ef-btn ef-select-btn" id="openPersonSecondModal">Select</button>

                                    </div>
                                </div>

                            </div>

                            <div lass="ef-cancel-btn-wrapper">
                                <div class="w-clearfix">
                                    <button type="button" class="ef-btn ef-cancel-address" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@

<div class="modal fade" id="inPersonSecondAddressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <input type="hidden" id="hndAddressType" name="hndAddressType" value="" />
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Forwarding Address</h5>
                <p>Tell us where to forward your mail to you, by entering your address below.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div style="" class="address-form-div w-clearfix" id="an-address-form" name="an-address-form">
                    <div class="w-row row-margin ef-postcode-lookup-wrapper">
                        <div class="w-col w-col-6">
                            <label for="postcode-lookup">Post Code</label>
                            <input class="w-input postal-lookup postcode" id="person-postcode-lookup" type="text" placeholder="Enter your postal code" name="postcode-lookup">
                        </div>
                        <div class="w-col w-col-3">
                            <label for="postcode-lookup">&nbsp;</label>
                            <button type="button" class="ef-add-btn ef-postcode-lookup-btn" onclick="appointmentPostCodeLookup()">Find Address</button>
                        </div>
                    </div>

                    <input type="hidden" asp-for="PersonAddress.AddressId" />

                    <label for="address-line-1">Name/Number <span>*</span></label>
                    <input class="w-input" asp-for="PersonAddress.HouseName" type="text" placeholder="Enter House Name/Number" />
                    <span class="text-address-error-message" id="PersonAddress_HouseName_error" style="display: none;"></span>

                    <label for="address-line-2">Street <span>*</span></label>
                    <input class="w-input" asp-for="PersonAddress.Street" type="text" placeholder="Enter Street" />
                    <span class="text-address-error-message" id="PersonAddress_Street_error" style="display: none;"></span>

                    <label for="address-line-3">Locality</label>
                    <input class="w-input" asp-for="PersonAddress.Locality" type="text" placeholder="Enter Locality" />

                    <label for="address-line-4">Town <span>*</span></label>
                    <input class="w-input" asp-for="PersonAddress.Town" type="text" placeholder="Enter Town" />
                    <span class="text-address-error-message" id="PersonAddress_Town_error" style="display: none;"></span>

                    <label for="address-line-5" class="address-line-5">County</label>
                    <input class="w-input address-line-5" asp-for="PersonAddress.County" type="text" placeholder="Enter County" />

                    <div class="w-row last-margin">
                        <div class="w-col w-col-6 ef-country-col">
                            <label for="address-country">Country <span>*</span></label>
                            <select class="w-select" asp-for="PersonAddress.Country">
                                <option value="AFGHANISTAN">Afghanistan</option>
                                <option value="ALBANIA">Albania</option>
                                <option value="ALGERIA">Algeria</option>
                                <option value="ANDORRA">Andorra</option>
                                <option value="ANGOLA">Angola</option>
                                <option value="ARGENTINA">Argentina</option>
                                <option value="ARMENIA">Armenia</option>
                                <option value="AUSTRALIA">Australia</option>
                                <option value="AUSTRIA">Austria</option>
                                <option value="AZERBAIJAN">Azerbaijan</option>
                                <option value="BAHAMAS">Bahamas</option>
                                <option value="BAHRAIN">Bahrain</option>
                                <option value="BANGLADESH">Bangladesh</option>
                                <option value="BELARUS">Belarus</option>
                                <option value="BELGIUM">Belgium</option>
                                <option value="BELIZE">Belize</option>
                                <option value="BENIN">Benin</option>
                                <option value="BHUTAN">Bhutan</option>
                                <option value="BOLIVIA">Bolivia</option>
                                <option value="BOSNIA AND HERZEGOVINA">Bosnia and Herzegovina</option>
                                <option value="BOTSWANA">Botswana</option>
                                <option value="BRAZIL">Brazil</option>
                                <option value="BRUNEI">Brunei</option>
                                <option value="BULGARIA">Bulgaria</option>
                                <option value="BURKINA FASO">Burkina Faso</option>
                                <option value="BURUNDI">Burundi</option>
                                <option value="CAMBODIA">Cambodia</option>
                                <option value="CAMEROON">Cameroon</option>
                                <option value="CANADA">Canada</option>
                                <option value="CHILE">Chile</option>
                                <option value="CHINA">China</option>
                                <option value="COLOMBIA">Colombia</option>
                                <option value="COSTA RICA">Costa Rica</option>
                                <option value="CROATIA">Croatia</option>
                                <option value="CYPRUS">Cyprus</option>
                                <option value="CZECH REPUBLIC">Czech Republic</option>
                                <option value="DENMARK">Denmark</option>
                                <option value="EGYPT">Egypt</option>
                                <option value="ESTONIA">Estonia</option>
                                <option value="FINLAND">Finland</option>
                                <option value="FRANCE">France</option>
                                <option value="GEORGIA">Georgia</option>
                                <option value="GERMANY">Germany</option>
                                <option value="GHANA">Ghana</option>
                                <option value="GREECE">Greece</option>
                                <option value="HONG KONG">Hong Kong</option>
                                <option value="HUNGARY">Hungary</option>
                                <option value="ICELAND">Iceland</option>
                                <option value="INDIA">India</option>
                                <option value="INDONESIA">Indonesia</option>
                                <option value="IRAN">Iran</option>
                                <option value="IRAQ">Iraq</option>
                                <option value="IRELAND">Ireland</option>
                                <option value="ISRAEL">Israel</option>
                                <option value="ITALY">Italy</option>
                                <option value="JAPAN">Japan</option>
                                <option value="JORDAN">Jordan</option>
                                <option value="KENYA">Kenya</option>
                                <option value="KUWAIT">Kuwait</option>
                                <option value="LATVIA">Latvia</option>
                                <option value="LEBANON">Lebanon</option>
                                <option value="LITHUANIA">Lithuania</option>
                                <option value="LUXEMBOURG">Luxembourg</option>
                                <option value="MALAYSIA">Malaysia</option>
                                <option value="MALTA">Malta</option>
                                <option value="MEXICO">Mexico</option>
                                <option value="MOROCCO">Morocco</option>
                                <option value="NEPAL">Nepal</option>
                                <option value="NETHERLANDS">Netherlands</option>
                                <option value="NEW ZEALAND">New Zealand</option>
                                <option value="NIGERIA">Nigeria</option>
                                <option value="NORWAY">Norway</option>
                                <option value="PAKISTAN">Pakistan</option>
                                <option value="PHILIPPINES">Philippines</option>
                                <option value="POLAND">Poland</option>
                                <option value="PORTUGAL">Portugal</option>
                                <option value="QATAR">Qatar</option>
                                <option value="ROMANIA">Romania</option>
                                <option value="RUSSIA">Russia</option>
                                <option value="SAUDI ARABIA">Saudi Arabia</option>
                                <option value="SINGAPORE">Singapore</option>
                                <option value="SLOVAKIA">Slovakia</option>
                                <option value="SLOVENIA">Slovenia</option>
                                <option value="SOUTH AFRICA">South Africa</option>
                                <option value="SOUTH KOREA">South Korea</option>
                                <option value="SPAIN">Spain</option>
                                <option value="SRI LANKA">Sri Lanka</option>
                                <option value="SWEDEN">Sweden</option>
                                <option value="SWITZERLAND">Switzerland</option>
                                <option value="SYRIA">Syria</option>
                                <option value="TAIWAN">Taiwan</option>
                                <option value="THAILAND">Thailand</option>
                                <option value="TUNISIA">Tunisia</option>
                                <option value="TURKEY">Turkey</option>
                                <option value="UGANDA">Uganda</option>
                                <option value="UKRAINE">Ukraine</option>
                                <option value="UNITED ARAB EMIRATES">United Arab Emirates</option>
                                <option value="UNITED KINGDOM">United Kingdom</option>
                                <option value="UNITED STATES">United States</option>
                                <option value="URUGUAY">Uruguay</option>
                                <option value="VIETNAM">Vietnam</option>
                                <option value="YEMEN">Yemen</option>
                                <option value="ZAMBIA">Zambia</option>
                                <option value="ZIMBABWE">Zimbabwe</option>
                            </select>
                        </div>

                        <div class="w-col w-col-6 postcode-col">
                            <label for="address-postcode" id="address-postcode-label">
                                Postal Code
                                <span>
                                    *
                                </span>
                            </label>
                            <input class="w-input postcode" asp-for="PersonAddress.PostCode" type="text" placeholder="Enter Postcode" />
                            <span class="text-address-error-message" id="PersonAddress_PostCode_error" style="display: none;"></span>
                        </div>
                    </div>
                    <button type="button" class="ef-add-btn ef-cancel-forward-address" onclick="javascript:void(0)">Cancel</button>
                    <button type="submit" class="ef-add-btn ef-save-address-btn" onclick="saveChooseAddressData()">Save &amp; Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addressPanel" class="address-panel shadow p-3" style="display:none;">
    <h5>Select an Address</h5>
    <ul id="PostCodeAddressList" class="list-group address-scroll mt-3"></ul>
    <button class="btn btn-secondary mt-2" onclick="closeAddressPanel()">Close</button>
</div>

<div id="personAddressPanel" class="address-panel shadow p-3" style="display:none;">
    <h5>Select an Address</h5>
    <button class="btn btn-secondary mt-2" onclick="ClosePersonAddressPanel()">Close</button>
    <ul id="ulResidentialAdd" style="display:none;">
        @foreach (var item in Model.PersonAddressAddressList.Where(x => x.IsResidetialAddress))
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    @item.HouseName @item.Street, @item.Town, @item.County, @item.PostCode, @item.Country
                </span>
                <button type="button"
                        class="btn btn-success btn-sm"
                        onclick='selectPersonAddress(@Html.Raw(Json.Serialize(item)))'>
                    Select
                </button>
            </li>
        }
    </ul>
    <ul id="ulServiceAdd" style="display:none;">
        @foreach (var item in Model.PersonAddressAddressList.Where(x => x.IsServiceAddress))
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    @item.HouseName @item.Street, @item.Town, @item.County, @item.PostCode, @item.Country
                </span>
                <button type="button"
                        class="btn btn-success btn-sm"
                        onclick='selectPersonAddress(@Html.Raw(Json.Serialize(item)))'>
                    Select
                </button>
            </li>
        }
    </ul>
</div>

@* Choose Officer *@
<div id="personChooseOfficerPanel" class="address-panel shadow p-3" style="display:none;">
    <h5>Select an Address</h5>
    <button class="btn btn-secondary mt-2" onclick="closeOfficerPanel()">Close</button>
    <div id="personOfficerList" style="display:none;">
        @foreach (var item in Model.OfficersList)
        {
            <div class="w-clearfix simple-row-elem">
                <div class="w-row ef-panel-row">
                    <div class="w-col w-col-8">
                        <p>@item.FirstName @item.LastName</p>
                    </div>
                    <div class="w-col w-col-4 w-clearfix add-col">
                        <button type="button" class="ef-btn ef-primary-btn ef-choose-btn" onclick='btnGoToDetailsTab(@Html.Raw(Json.Serialize(item)))'>Choose</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    // $("#btnPersonPosition").click(function () {
    //     var selectedData = [];
    //     $(".w-checkbox-input:checked").each(function () {
    //         selectedData.push($(this).val());
    //     });

    //     if (selectedData?.length === 0) {
    //         $("#position-error").html("Please select the Position.").show();
    //     }
    //     else{
    //         $("#position-error").html("Please select the Position.").hide();
    //     }

    //     const selectedPosition = selectedData.join(",");

    //     $.ajax({
    //         url: "/FormationPage/AppointmentPersonTab?handler=SavePersonPositionData",
    //         method: "POST",
    //         contentType: "application/json",
    //         data: JSON.stringify({ position: selectedPosition }),
    //         success: function (response) {
    //             if (response.success) {
    //                 showToast('Position Data Saved.', 'success');
    //                 console.log(response.success);
    //             }
    //         },
    //         error: function (xhr) {
    //             console.error("Error:", xhr.statusText, xhr.responseText);
    //         }
    //     });
    // });

    // document.getElementById("create-new-person-officer")?.addEventListener("click", function () {
    //     setTimeout(function () {
    //         const detailsSection = document.getElementById("details");
    //         if (detailsSection) {
    //             detailsSection.scrollIntoView({ behavior: "smooth" });
    //         }
    //     }, 300); // Adjust timeout if needed to wait for tab change
    // });

    // $("#officer-submit-details-tab").click(function () {
    //     var isValid = true;

    //     // Field validation helper
    //     function validateField(id, errorId, fieldName) {
    //         const value = $(id).val().trim();
    //         if (value === "") {
    //             isValid = false;
    //             $(errorId).text(`${fieldName} is required.`).show();
    //         } else {
    //             $(errorId).text("").hide();
    //         }
    //     }

    //     validateField("#Officers_Title", "#Officers_Title_error", "Title");
    //     validateField("#Officers_FirstName", "#Officers_FirstName_error", "FirstName");
    //     validateField("#Officers_LastName", "#Officers_LastName_error", "LastName");
    //     validateField("#Officers_DOB", "#Officers_DOB_error", "Date of Birth");
    //     validateField("#Officers_Nationality", "#Officers_Nationality_error", "Nationality");
    //     validateField("#Officers_Occupation", "#Officers_Occupation_error", "Occupation");
    //     validateField("#Officers_Authentication1", "#Officers_Authentication1_error", "Authentication");
    //     validateField("#Officers_AuthenticationAns1", "#Officers_AuthenticationAns1_error", "AuthenticationAns");
    //     validateField("#Officers_Authentication2", "#Officers_Authentication2_error", "Authentication");
    //     validateField("#Officers_AuthenticationAns2", "#Officers_AuthenticationAns2_error", "AuthenticationAns");
    //     validateField("#Officers_Authentication3", "#Officers_Authentication3_error", "Authentication");
    //     validateField("#Officers_AuthenticationAns3", "#Officers_AuthenticationAns3_error", "AuthenticationAns");

    //     if(isValid) {

    //         var formData = {
    //             Title: $('#Officers_Title').val(),
    //             FirstName: $('#Officers_FirstName').val(),
    //             LastName: $('#Officers_LastName').val(),
    //             DOB: $('#Officers_DOB').val(),
    //             Nationality: $('#Officers_Nationality').val(),
    //             Occupation: $('#Officers_Occupation').val(),
    //             Authentication1: $('#Officers_Authentication1').val(),
    //             AuthenticationAns1: $('#Officers_AuthenticationAns1').val(),
    //             Authentication2: $('#Officers_Authentication2').val(),
    //             AuthenticationAns2: $('#Officers_AuthenticationAns2').val(),
    //             Authentication3: $('#Officers_Authentication3').val(),
    //             AuthenticationAns3: $('#Officers_AuthenticationAns3').val(),
    //         }

    //         $.ajax({
    //             url: "/FormationPage/AppointmentPersonTab?handler=SaveOfficerDetails",
    //             method: "POST",
    //             contentType: "application/json",
    //             data: JSON.stringify(formData),
    //             success: function (response) {
    //                 if (response.success) {
    //                     console.log(response.success);
    //                     savePersonChooseAddressData('Residential');
    //                     showToast('Data Saved.', 'success');
    //                 }
    //             },
    //             error: function (xhr) {
    //                 console.error("Error:", xhr.statusText, xhr.responseText);
    //             }
    //         });
    //     }
    // });

    function openAddressModal(type) {
        // Set the type: "Registered" or "Business"
        $('#inPersonSecondAddressModal').find("input").val("");
        $('#hndAddressType').val(type);
        $('#inPersonSecondAddressModal').modal('show');
    }

    $("#submit-person-tab").click(function () {
        var isValid = true;
        var selectedData = [];
        var residentialHouseName = "@(ResidentialOfficeAddress?.HouseName ?? "")";
        var serviceHouseName = "@(ServiceOfficeAddress?.HouseName ?? "")";

        $(".w-checkbox-input:checked").each(function () {
            selectedData.push($(this).val());
        });

        if($("#PersonAddress_HouseName").val() == "" && residentialHouseName == "") {
            isValid = false; 
            $("#residentialAddress-error").html("Please select the Residential Address.").show();
            showToast('Please filled required details.', 'warning');
            $('html, body').scrollTop($('#details').offset().top);
        }
        else if ($("#PersonAddress_HouseName").val() == "" && serviceHouseName == "") {
            isValid = false;
            $("#servicerAddress-error").html("Please select the Service Address.").show();
            showToast('Please filled required details.', 'warning');
            $('html, body').scrollTop($('#addressing').offset().top);
        }
        else {
            isValid = true;
            $("#residentialAddress-error").html("Please select the Position.").hide();
            $("#servicerAddress-error").html("Please select the Position.").hide();
        }

        if (selectedData?.length === 0) {
            isValid = false;
            $("#position-error").html("Please select the Position.").show();
            showToast('Please filled required details.', 'warning');
            $('html, body').scrollTop($('#position').offset().top - 10);
        }
        else{
            isValid = true;
            $("#position-error").html("Please select the Position.").hide();
        }

        // Field validation helper
        function validateField(id, errorId, fieldName) {
            const value = $(id).val().trim();
            if (value === "") {
                isValid = false;
                $(errorId).text(`${fieldName} is required.`).show();
                showToast('Please filled required details.', 'warning');
                $('html, body').scrollTop($('#details').offset().top);
            } else {
                $(errorId).text("").hide();
            }
        }

        validateField("#Officers_Title", "#Officers_Title_error", "Title");
        validateField("#Officers_FirstName", "#Officers_FirstName_error", "FirstName");
        validateField("#Officers_LastName", "#Officers_LastName_error", "LastName");
        validateField("#Officers_DOB", "#Officers_DOB_error", "Date of Birth");
        validateField("#Officers_Nationality", "#Officers_Nationality_error", "Nationality");
        validateField("#Officers_Occupation", "#Officers_Occupation_error", "Occupation");
        validateField("#Officers_Authentication1", "#Officers_Authentication1_error", "Authentication");
        validateField("#Officers_AuthenticationAns1", "#Officers_AuthenticationAns1_error", "AuthenticationAns");
        validateField("#Officers_Authentication2", "#Officers_Authentication2_error", "Authentication");
        validateField("#Officers_AuthenticationAns2", "#Officers_AuthenticationAns2_error", "AuthenticationAns");
        validateField("#Officers_Authentication3", "#Officers_Authentication3_error", "Authentication");
        validateField("#Officers_AuthenticationAns3", "#Officers_AuthenticationAns3_error", "AuthenticationAns");

        if(isValid) {
            const selectedPosition = selectedData.join(",");
            
            var formData = {
                OfficerId: $('#Officers_OfficerId').val(),
                Title: $('#Officers_Title').val(),
                FirstName: $('#Officers_FirstName').val(),
                LastName: $('#Officers_LastName').val(),
                DOB: $('#Officers_DOB').val(),
                Nationality: $('#Officers_Nationality').val(),
                Occupation: $('#Officers_Occupation').val(),
                Authentication1: $('#Officers_Authentication1').val(),
                AuthenticationAns1: $('#Officers_AuthenticationAns1').val(),
                Authentication2: $('#Officers_Authentication2').val(),
                AuthenticationAns2: $('#Officers_AuthenticationAns2').val(),
                Authentication3: $('#Officers_Authentication3').val(),
                AuthenticationAns3: $('#Officers_AuthenticationAns3').val(),
            };

            var payload = {
                Officer: formData,
                SelectedPosition: selectedPosition
            };

            $.ajax({
                url: "/FormationPage/AppointmentPersonTab?handler=SaveOfficerDetails",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(payload),
                success: function (response) {
                    if (response.success) {
                        savePersonChooseAddressData('Residential');
                        savePersonChooseAddressData('Service');

                        showToast('Data Saved.', 'success');

                        document.getElementById('goToNextTab').style.display = 'block';
                        document.getElementById('addNewOfficer').style.display = 'block';
                    }
                },
                error: function (xhr) {
                    console.error("Error:", xhr.statusText, xhr.responseText);
                }
            });
        }
    });

    $("#addNewOfficer").click(function () {
        $('#isDirector').prop('checked', false);
        $('#isShareholder').prop('checked', false);
        $('#isSecretary').prop('checked', false);
        $('#isPSC').prop('checked', false);
        $('#Officers_Title').val(''),
        $('#Officers_FirstName').val(''),
        $('#Officers_LastName').val(''),
        $('#Officers_DOB').val(''),
        $('#Officers_Nationality').val(''),
        $('#Officers_Occupation').val(''),
        $('#Officers_Authentication1').val(''),
        $('#Officers_AuthenticationAns1').val(''),
        $('#Officers_Authentication2').val(''),
        $('#Officers_AuthenticationAns2').val(''),
        $('#Officers_Authentication3').val(''),
        $('#Officers_AuthenticationAns3').val(''),
        $('html, body').scrollTop($('#appPersonTab').offset().top);
    });

    $("#goToNextTab").click(function () {
        window.location.reload();
        $('html, body').scrollTop($('#appointment').offset().top);
    });


    function btnGoToDetailsTab(data) {
        if(data) {
             setTimeout(function () {
                const detailsSection = document.getElementById("details");
                if (detailsSection) {
                    detailsSection.scrollIntoView({ behavior: "smooth" });
                }
            }, 300);

            $('#Officers_Title').val(data.title),
            $('#Officers_FirstName').val(data.firstName),
            $('#Officers_LastName').val(data.lastName),
            $('#Officers_Nationality').val(data.nationality),
            $('#Officers_Occupation').val(data.occupation),
            $('#Officers_Authentication1').val(data.authentication1),
            $('#Officers_AuthenticationAns1').val(data.authenticationAns1),
            $('#Officers_Authentication2').val(data.authentication2),
            $('#Officers_AuthenticationAns2').val(data.authenticationAns2),
            $('#Officers_Authentication3').val(data.authentication3),
            $('#Officers_AuthenticationAns3').val(data.authenticationAns3)

            if (data.dob) {
                let date = new Date(data.dob);
                let day = ('0' + date.getDate()).slice(-2);
                let month = ('0' + (date.getMonth() + 1)).slice(-2);
                let year = date.getFullYear();
                let formatted = `${year}-${month}-${day}`; //yyyy-MM-dd
                $('#Officers_DOB').val(formatted);
            }
        }
    }

    // Open Second Modal
    $('#openPersonSecondModal').on('click', function () {
        $('#addressModal').modal('hide');

        $('#addressModal').on('hidden.bs.modal', function () {
            $('#inPersonSecondAddressModal').modal('show');
        });
    });

    function saveChooseAddressData() {
        var isValid = true;

        // Field validation helper
        function validateFields(id, errorId, fieldName) {
            const value = $(id).val().trim();
            if (value === "") {
                isValid = false;
                $(errorId).text(`${fieldName} is required.`).show();
            } else {
                $(errorId).text("").hide();
            }
        }

        validateFields("#PersonAddress_HouseName", "#PersonAddress_HouseName_error", "House Name");
        validateFields("#PersonAddress_Street", "#PersonAddress_Street_error", "Street");
        validateFields("#PersonAddress_Town", "#PersonAddress_Town_error", "Town");
        validateFields("#PersonAddress_PostCode", "#PersonAddress_PostCode_error", "Postcode");

        if (isValid) {
            var type = $('#hndAddressType').val();
            if (type === 'Residential') {
                $(".ef-js-forwarding-address").html("");
                const houseName = $("#PersonAddress_HouseName").val();
                const otherParts = [
                    $("#PersonAddress_Street").val(),
                    $("#PersonAddress_Town").val(),
                    $("#PersonAddress_County").val(),
                    $("#PersonAddress_PostCode").val(),
                    $("#PersonAddress_Country").val()
                ].filter(Boolean);
                const addressHtml = (houseName ? houseName + ' ' : '') + otherParts.join(', ');
                $(".ef-js-forwarding-address").html(addressHtml);
            } else if (type === 'Service') {
                $(".service-forwarding-address").html("");
                const houseName = $("#PersonAddress_HouseName").val();
                const otherParts = [
                    $("#PersonAddress_Street").val(),
                    $("#PersonAddress_Town").val(),
                    $("#PersonAddress_County").val(),
                    $("#PersonAddress_PostCode").val(),
                    $("#PersonAddress_Country").val()
                ].filter(Boolean);
                const addressHtml = (houseName ? houseName + ' ' : '') + otherParts.join(', ');
                $(".service-forwarding-address").html(addressHtml);
            }


            $("#inPersonSecondAddressModal").modal("hide");
        }
    }

    function savePersonChooseAddressData(type) {
         const registeredOfficeAddress = {
             houseName: "@(ResidentialOfficeAddress?.HouseName ?? "")",
             street: "@(ResidentialOfficeAddress?.Street ?? "")",
             postCode: "@(ResidentialOfficeAddress?.PostCode ?? "")",
             town: "@(ResidentialOfficeAddress?.Town ?? "")",
             country: "@(ResidentialOfficeAddress?.Country ?? "")",
             county: "@(ResidentialOfficeAddress?.County ?? "")",
             locality: "@(ResidentialOfficeAddress?.Locality ?? "")"
         };

         const serviceAddress = {
             houseName: "@(ServiceOfficeAddress?.HouseName ?? "")",
             street: "@(ServiceOfficeAddress?.Street ?? "")",
             postCode: "@(ServiceOfficeAddress?.PostCode ?? "")",
             town: "@(ServiceOfficeAddress?.Town ?? "")",
             country: "@(ServiceOfficeAddress?.Country ?? "")",
             county: "@(ServiceOfficeAddress?.County ?? "")",
             locality: "@(ServiceOfficeAddress?.Locality ?? "")"
         };

        let addressData = {
            addressId: parseInt($("#PersonAddress_AddressId").val()) || 0,
            houseName: $("#PersonAddress_HouseName").val(),
            street: $("#PersonAddress_Street").val(),
            postCode: $("#PersonAddress_PostCode").val(),
            town: $("#PersonAddress_Town").val(),
            country: $("#PersonAddress_Country").val(),
            county: $("#PersonAddress_County").val(),
            locality: $("#PersonAddress_Locality").val()
        };

        if(type == "Residential") {
            if($("#PersonAddress_HouseName").val() == "" && $("#PersonAddress_Street").val() == ""){
                addressData = registeredOfficeAddress;
            }
            $.ajax({
                url: "/FormationPage/AppointmentPersonTab?handler=SavePersonResidentialAddress",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(addressData),
                success: function (response) {
                    if (!response.success) {
                        // Loop through returned errors and set messages
                        for (const [field, message] of Object.entries(response.errors)) {
                            const errorSpan = document.getElementById(`${field}-error`);
                            if (errorSpan) {
                                errorSpan.textContent = message;
                            }
                        }
                    }
                    else {
                        console.log("Success:", response);
                        showToast('Officer data saved.', 'success');
                        $("#inPersonSecondAddressModal").modal('hide');
                        $("#addressModal").modal('hide');
                       //  window.location.reload();
                       // $('html, body').scrollTop($('#appointmentTab').offset().top);
                    }
                },
                error: function (xhr) {
                    console.error("Error:", xhr.statusText, xhr.responseText);
                }
            });
        }
        else if (type == "Service"){
            if($("#PersonAddress_HouseName").val() == "" && $("#PersonAddress_Street").val() == ""){
                addressData = serviceAddress;
            }
            $.ajax({
                url: "/FormationPage/AppointmentPersonTab?handler=SavePersonServiceAddress",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(addressData),
                success: function (response) {
                    if (!response.success) {
                        // Loop through returned errors and set messages
                        for (const [field, message] of Object.entries(response.errors)) {
                            const errorSpan = document.getElementById(`${field}-error`);
                            if (errorSpan) {
                                errorSpan.textContent = message;
                            }
                        }
                    }
                    else {
                        console.log("Success:", response);
                        $("#inPersonSecondAddressModal").modal('hide');
                        $("#addressModal").modal('hide');
                        // window.location.reload();
                        // $('html, body').scrollTop($('#appointmentTab').offset().top);
                    }
                },
                error: function (xhr) {
                    console.error("Error:", xhr.statusText, xhr.responseText);
                }
            });
        }
    }

    function editPersonAddress(data) {
        $("#PersonAddress_AddressId").val(data.addressId); // Ensure your model has Id

        $("#PersonAddress_HouseName").val(data.houseName);
        $("#PersonAddress_Street").val(data.street);
        $("#PersonAddress_Locality").val(data.locality);
        $("#PersonAddress_Town").val(data.town);
        $("#PersonAddress_County").val(data.county);
        $("#PersonAddress_Country").val(data.country);
        $("#PersonAddress_PostCode").val(data.postCode);

        // Clear error messages
        $(".text-address-error-message").hide().text("");

        $("#inPersonSecondAddressModal").modal("show");
    }

    function selectPersonAddress(data) {
        if (data.isResidetialAddress == true) {
            $(".ef-js-forwarding-address").html('');
            const addressHtml = `${data.houseName}, ${data.street}, ${data.town}, ${data.county}, ${data.postCode}, ${data.country}`;
            $(".ef-js-forwarding-address").html(addressHtml);
        }
        else if (data.isServiceAddress == true) {
            $(".service-forwarding-address").html('');
            const addressHtml = `${data.houseName}, ${data.street}, ${data.town}, ${data.county}, ${data.postCode}, ${data.country}`;
            $(".service-forwarding-address").html(addressHtml);
        }
        $("#PersonAddress_HouseName").val(data.houseName);
        $("#PersonAddress_Street").val(data.street);
        $("#PersonAddress_Locality").val(data.locality);
        $("#PersonAddress_Town").val(data.town);
        $("#PersonAddress_County").val(data.county);
        $("#PersonAddress_Country").val(data.country);
        $("#PersonAddress_PostCode").val(data.postCode);
        ClosePersonAddressPanel();
    }

    function appointmentPostCodeLookup() {
        const postCode = $("#person-postcode-lookup").val();

        if (!postCode) {
            alert("Please enter a postcode.");
            return;
        }

        $.ajax({
            type: "GET",
            url: `/register?handler=CheckPostCode&postCode=${encodeURIComponent(postCode)}`,
            dataType: "json",
            success: function (response) {
                if (!response.success || !Array.isArray(response.suggestions)) {
                    alert("No suggestions found.");
                    return;
                }
                console.log("response", response);
                console.log("response.suggestions", response.suggestions);

                populateAddressList(response.suggestions);
            },
            error: function (xhr) {
                console.error("AJAX error:", xhr);
                alert("Error fetching postcode suggestions.");
            }
        });
    }

    function populateAddressList(suggestions) {
        const list = document.getElementById("PostCodeAddressList");
        list.innerHTML = ''; // Clear previous items

        suggestions.forEach(item => {
            const li = document.createElement("li");
            li.className = "list-group-item d-flex justify-content-between align-items-center";

            const addressText = document.createElement("span");
            addressText.textContent = item.address;

            const selectBtn = document.createElement("button");
            selectBtn.className = "btn btn-success btn-sm";
            selectBtn.textContent = "Select";
            selectBtn.dataset.addressId = item.id;

            // 👇 API call on select
            selectBtn.onclick = function () {
                const id = this.dataset.addressId;
                const apiKey = 'k2fpqS_lSUeh0z2ISb57ng45543'; // Replace with actual or server-stored key
                const url = `https://api.getaddress.io/get/${id}?api-key=${apiKey}`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Full address data:", data);
                        bindAddressToForm(data);
                        //bootstrap.Modal.getInstance(document.getElementById('addressModal')).hide();
                        closeAddressPanel();
                    })
                    .catch(err => {
                        console.error("Error fetching full address:", err);
                        alert("Unable to fetch full address details.");
                    });
            };

            li.appendChild(addressText);
            li.appendChild(selectBtn);
            list.appendChild(li);
        });

        // new bootstrap.Modal(document.getElementById('addressModal')).show();
        showAddressPanel();
    }

    function showAddressPanel() {
        document.getElementById('addressPanel').style.display = 'block';
    }

    function closeAddressPanel() {
        document.getElementById('addressPanel').style.display = 'none';
    }

    function showUserAddressPanel(type) {
        document.getElementById('personAddressPanel').style.display = 'block';
        if (type === 'Residential') {
            document.getElementById('ulServiceAdd').style.display = 'none';
            document.getElementById('ulResidentialAdd').style.display = 'block';
        } else if (type === 'Service') {
            document.getElementById('ulResidentialAdd').style.display = 'none';
            document.getElementById('ulServiceAdd').style.display = 'block';
        }
    }

    function ClosePersonAddressPanel() {
        document.getElementById('personAddressPanel').style.display = 'none';
    }

    function bindAddressToForm(data) {
        if (!data) return;
        console.log("data", data);
        //const lines = data.line_1.split(' ');

        document.getElementById('PersonAddress_HouseName').value = data.building_number || '';
        document.getElementById('PersonAddress_Street').value = data.line_1.trim().replace(data.building_number, '').trim(); //lines[1] + ' ' + lines[2]?.trim() || '';
        document.getElementById('PersonAddress_Town').value = data.town_or_city || '';
        document.getElementById('PersonAddress_County').value = data.county || '';
        document.getElementById('PersonAddress_PostCode').value = data.postcode || '';
        if (data.country == "England") {
            document.getElementById('PersonAddress_Country').value = "UNITED KINGDOM";
        }
        else {
            document.getElementById('PersonAddress_Country').value = data.country || '';
        }
    }

    $(document).ready(function () {
        document.getElementById('goToNextTab').style.display = 'none';
        document.getElementById('addNewOfficer').style.display = 'none';

        function updateDropDownOptions() {
            let selectedValues = [];

            $(".auth-select").each(function () {
                const val = $(this).val();
                if(val) {
                    selectedValues.push(val);
                }
            });

            $('.auth-select option').prop('disabled', false);

            $(".auth-select").each(function () {
                const currentSelect = $(this);
                const currentVal = currentSelect.val();

                selectedValues.forEach(function (val) {
                    // Don't disable the value in the currently selected dropdown
                    if (val !== currentVal) {
                        currentSelect.find(`option[value="${val}"]`).prop('disabled', true);
                    }
                });
            });
        }

         // On page load and when dropdown changes
        updateDropDownOptions();
        $('.auth-select').on('change', function () {
            updateDropDownOptions();
        });
    });

    function closeOfficerPanel() {
        document.getElementById('personChooseOfficerPanel').style.display = 'none';
    }

    function showOfficerPanel() {
        document.getElementById('personChooseOfficerPanel').style.display = 'block';
        document.getElementById('personOfficerList').style.display = 'block';
    }

    function btnRemovePersonOfficer(id) {
        if(confirm("Are you sure you want to delete this?")) {
            $.ajax({
                url: "/FormationPage/AppointmentPersonTab?handler=RemoveCurrentOfficer",
                type: "POST",
                data: JSON.stringify({ id: id }),
                contentType: "application/json",
                success: function () {
                    showToast("Officer Remove Successfully", "success");
                    // setTimeout(function() {
                    //     window.location.reload();
                    // }, 1000);
                },
                error: function (err) {
                    showToast("Officer is not remove", "error");
                }
            });
        }
    }

    function editPersonOfficer(data) {
        const selectedPosition = data.positionName ? data.positionName.split(',').map(p => p.trim()) : [];
        console.log("selectedPosition ::", selectedPosition);
        
        const officerId = data.officerId;
        const expires = 7 ? { expires: 7, secure: true, sameSite: 'Strict' } : {};
        Cookies.set("PersonOfficerId", officerId, expires);

        $.ajax({
            url: "/FormationPage/AppointmentPersonTab",
            type: "get",
            success: function (result) {
                $("#Formation").css('display', 'none');
                $("#appCorporateTab").css('display', 'none');
                $("#appOtherTab").css('display', 'none');
                $("#appointmentTab").html(result);
                $('html, body').scrollTop($('#appointmentTab').offset().top);

                //Bind data based on Id
                setTimeout(() => {
                    const positionMap = {
                        "Director": "isDirector",
                        "Shareholder": "isShareholder",
                        "Secretary": "isSecretary",
                        "PSC": "isPSC"
                    };

                    Object.keys(positionMap).forEach(role => {
                        const checkbox = document.getElementById(positionMap[role]);
                        if (checkbox) {
                            checkbox.checked = selectedPosition.includes(role);
                        }
                    });
                }, 100);

                $("#Officers_OfficerId").val(data.officerId);
                $("#Officers_Title").val(data.title);
                $("#Officers_FirstName").val(data.firstName);
                $("#Officers_LastName").val(data.lastName);
                $("#Officers_Nationality").val(data.nationality);
                $("#Officers_Occupation").val(data.occupation);
                $("#Officers_Authentication1").val(data.authentication1);
                $("#Officers_AuthenticationAns1").val(data.authenticationAns1);
                $("#Officers_Authentication2").val(data.authentication2);
                $("#Officers_AuthenticationAns2").val(data.authenticationAns2);
                $("#Officers_Authentication3").val(data.authentication3);
                $("#Officers_AuthenticationAns3").val(data.authenticationAns3);

                if (data.dob) {
                    let date = new Date(data.dob);
                    let day = ('0' + date.getDate()).slice(-2);
                    let month = ('0' + (date.getMonth() + 1)).slice(-2);
                    let year = date.getFullYear();
                    let formatted = `${year}-${month}-${day}`; //yyyy-MM-dd
                    $('#Officers_DOB').val(formatted);
                }
            }
        });
    }
</script>
