@page
@model Spendwise_WebApp.Pages.FormationPage.CompanyFormationSubTabModel
@{
    Layout = null;
}
<style>
    .w-input, .w-select {
        border: 1px solid #84888a !important;
        font-size: 14px !important;
    }

    .ef-sic-code-filter {
        display: none;
        min-height: 300px;
        height: 340px;
        max-height: 400px;
        overflow-x: scroll;
        overflow-x: hidden;
    }
</style>

<div id="parentTabs">
    <div class="ef-order-form-nav-step-wrapper">
        <div class="w-container ef-order-form-nav-step-content">
            <a class="nav-link ef-companyformation-steps" aria-current="page" href="#particular" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-1-active"></div>
                    Particular
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#address" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-2-todo"></div>
                    Addresses
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#business-address" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-3-todo"></div>
                    Business Address
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#appointment" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-4-todo"></div>
                    Appointments
                </div>
            </a>
            <a class="nav-link ef-companyformation-steps" href="#document" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-5-todo"></div>
                    Documents
                </div>
            </a>
        </div>
    </div>

    <div class="tab-pane current" id="Formation">
        <div class="w-container ef-content-wrapper ef-particulars-step">
            <div id="particular" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-01">
                        <h1>Particular</h1>
                    </div>
                    <div class="ef-information-box mr-top-20">
                        <h2 class="ef-information-box-title">Company Name</h2>
                        <p>This is the name that will appear on your certificate of incorporation and will also appear on the public record at Companies House.</p>
                        <p>Remember to add <strong id="LLP-extention">LLP</strong> to the end of your company name<span id="limited-liability-partnership-ex-text"></span>. </p>
                    </div>
                    <div id="ef-panel-inner-content-particular">
                        <div class="success name-check-result show-namecheck particular-company" id="companyAvailable" style="display:none">
                            <div class="ef-alert-box-main-text"><span class="ef-namecheck-choosen-name" id="availableCompanyName"> </span> Congratulations! This company name is available.</div>
                        </div>

                        <div class="success name-check-result show-namecheck particular-company" id="companyNotAvailable" style="display:none">
                            <div class="ef-alert-box-main-text"><span class="ef-namecheck-choosen-name" id="notAvailablecompanyName"> </span> Sorry, this company name is unavailable.</div>
                        </div>
                        <div class="ef-alert-box warning name-check-result show-namecheck" id="warnigMessage" style="margin-top: -35px; width: 70rem; display: none;">
                            <div class="ef-alert-box-main-text">
                                Warning, <span class="ef-namecheck-choosen-name" id="alertCompanyName"> </span> is available for registration.
                            </div>
                            <p class="ef-js-namecheck-meta-text namecheck-error-description" id="llpSubCompanyName">
                                You will need to provide a valid Company ending: LLP, LIMITED LIABILITY PARTNERSHIP.
                            </p>
                            <p class="ef-js-namecheck-meta-text namecheck-error-description" id="otherSubCompanyName">
                                You will need to provide a valid Company ending: LLP, Other Company.
                            </p>
                        </div>
                        <form>
                            <div>
                                <div class="ef-namecheck-wrapper w-row ef-form-wrap">
                                    <div class="ef-namecheck-label-row w-col w-col-9"></div>
                                    <div class="w-row">
                                        <div class="w-col w-col-6">
                                            <label for="ef-company-name">
                                                Company Name
                                                <span class="ef-modal-help-icon" data-ref="HELP|COMPANY_NAME"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                            </label>
                                            <input type="text" class="w-input ef-company-name-field" asp-for="Particular.CompanyName" style="margin-bottom: 0px;" />
                                            <span class="text-error-message" id="errorMsg" style="display: none;">
                                                <label id="errorFieldName"> </label>
                                            </span>
                                        </div>
                                        <div class="w-col w-col-6" style="margin-top: 1px;">
                                            <label for="ef-namecheck-button">&nbsp;</label>
                                            <button type="button" id="ef-namecheck-button" class="ef-btn ef-primary-btn" name="ef-name-check-btn" onclick="CheckCompanyName()">Check another name</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ef-form-wrap last-margin">
                                    <div class="w-row">
                                        <div class="w-col w-col-6">
                                            <label for="company-type">
                                                Type of Company
                                                <span class="ef-modal-help-icon" data-ref="HELP|COMPANY_TYPE"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                            </label>
                                            <select class="w-select" asp-for="Particular.CompanyType">
                                                <option value="Limited Liability Partnership" selected="selected">
                                                    Limited Liability Partnership
                                                </option>
                                            </select>
                                        </div>
                                        <div class="w-col w-col-6">
                                            <label for="company-jur">
                                                Jurisdiction
                                                <span class="ef-modal-help-icon" data-ref="HELP|JURISDICTION"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                            </label>
                                            <select class="w-select" asp-for="Particular.Jurisdiction">
                                                <option> --Select Jurisdiction-- </option>
                                                <option value="EWs">
                                                    England &amp; Wales
                                                </option>
                                                <option value="WA">
                                                    Wales
                                                </option>
                                                <option value="SC">
                                                    Scotland
                                                </option>
                                                <option value="NI">
                                                    Northern Ireland
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--  there can be multiple -->
                                    <div class="w-row">
                                        <div class="w-col w-col-6">
                                            <!-- sic codes -->
                                            <label>
                                                What are your business activities
                                                <span class="ef-modal-help-icon" data-ref="HELP|SIC_CODES"><img class="ef-help-icon-img" src="/assets/icons/help.png"></span>
                                            </label>
                                            <div class="" id="ef-js-sic-codes">
                                                <div class="" id="ef-js-sic-codes__categories">
                                                    <select class="w-select" asp-for="Particular.Activities" asp-items="Model.SicCodeCategoryList">
                                                        <option>Select a category:</option>
                                                        <option value="all-categories">All</option>
                                                    </select>
                                                </div>
                                                <div class="ef-js-sic-codes__loader ef-sic-codes__loader">
                                                    <span class="ef-sic-codes__loader__img">
                                                        <!-- loader -->
                                                    </span>
                                                </div>
                                                <div class="w-input ef-sic-code-filter" id="ef-js-sic-codes__filter" style="display:none;">
                                                    <div class="ef-js-sic-codes__filter__label">
                                                        Filter:
                                                    </div>
                                                    <div class="" id="ef-js-sic-codes__filter__found"></div>
                                                    <div class="ef-js-sic-code-error" style=""></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-col w-col-6">
                                            <div id="ef-js-sic-codes__selected" class="ef-sic-codes-selected">
                                                <label class="ef-sic-codes-selected-label">
                                                    Selected SIC codes
                                                </label>
                                                <!-- <div class="ef-selected-sic-codes" id="ef-js-sic-codes__selected__picked"> -->
                                                <ul id="ef-sic-code-list" class="ef-sic-code-list">
                                                    @* <li class="ef-no-sic-code">None Selected</li> *@
                                                    @foreach (var item in Model.SIC_CodeList)
                                                    {
                                                        <li class="ef-sic-code" data-sic-code="@item.SicCode">
                                                            <div class="sic-text">@item.SicCode - @item.Description</div>
                                                            <div class="ef-remove-sic-code-img-container">
                                                                <div class="ef-remove-sic-code" onclick="FormBuilder.RemoveSicCode(this);">
                                                                    <img class="ef-remove-sic-code-img" src="/images/cross.png" alt="X">
                                                                    <input type="hidden" value="@item.SicCode" name="siccodes[]">
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="particular-save">
                                <button type="button" onclick="saveFormationData('particular')" class="ef-btn nextstep">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div id="address" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-02">
                        <h1>Registered Address</h1>
                    </div>
                    <div class="ef-registered-office-step" id="ef-panel-content">
                        <div id="ef-panel-inner-content">
                            <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                                <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                            </div>
                            <div>
                                <!--  educational text -->
                                <div class="ef-information-box">
                                    <h2 class="ef-information-box-title">Registered Office (required)</h2>
                                    <ul>
                                        <li>All companies require having a registered office address located in the same country as they are registered.</li>
                                        <li>It is the address to which all Companies House, HMRC and other official letters will be sent and must always be a physical address (e.g. not a PO Box or DX).</li>
                                        <li><b>The address of the registered office must appear on all company correspondence and publications.</b></li>
                                        <li><b>A company’s registered office address is available to view by the public free of charge.</b></li>
                                        <li>If you purchased our Registered Office Address Service, we will scan and email all official mail to an email address of your choice, with the exception of items of value which will be forwarded by post to your forwarding address.</li>
                                    </ul>
                                </div>
                                <div class="w-clearfix">
                                    <div class="ef-registered-email-section">
                                        <h2>Registered Email</h2>
                                        <div class="ef-form-wrap">
                                            <div class="w-row">
                                                <div class="w-col w-col-6">
                                                    <label for="ef-company-email">
                                                        Registered Email
                                                        <span class="ef-modal-help-icon" data-ref="HELP|REGISTERED_EMAIL">
                                                            <img class="ef-help-icon-img" src="/assets/icons/help.png">
                                                        </span>
                                                    </label>
                                                    <input class="w-input ef-company-email-field" asp-for="Company.RegisteredEmail" type="text">
                                                    <span class="text-address-error-message" id="Address_RegisteredEmail_error" style="display: none;"></span>

                                                    <span class="ef-company-email-supplement-text ef-input-supplement-text">
                                                        The official email address of the company - this can be changed at any time.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ef-registered-office-section">
                                        <h2>Registered Office</h2>
                                        <!--  Forwarding address -->
                                        <div class="ef-item-box ef-selected">
                                            <div class="ef-item-content">
                                                <div class="w-row ef-panel-row">
                                                    <div class="w-col">
                                                        <h3 class="forward-address">Forwarding Address:</h3>
                                                    </div>
                                                </div>
                                                <div class="w-row ef-panel-row">
                                                    <div class="w-col w-col-8" style="margin-top: 10px;">
                                                        <div class="">
                                                            <span class="ef-js-forwarding-address"></span>
                                                        </div>
                                                    </div>
                                                    <div class="w-col w-col-4 w-clearfix add-col">
                                                        <button type="button" class="ef-btn ef-choose-btn ef-completed-btn" data-bs-toggle="modal" data-address-type="registered" data-bs-target="#addressModal">Choose Address</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end forwarding address -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-save">
                        <button type="button" onclick="saveAddressData('registered')" class="ef-btn nextstep">
                            Save
                        </button>
                    </div>
                </div>
            </div>

            <div id="business-address" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-03">
                        <h1>Business <span class="m-hide t-hide">Address</span></h1>
                    </div>
                    <div class="" id="ef-panel-content">
                        <div id="ef-panel-inner-content">
                            <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                                <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                            </div>
                            <div>
                                <h2 class="ef-hide">Trading Address</h2>
                                <!--  educational text -->
                                <div class="ef-information-box">
                                    <h2 class="ef-information-box-title">Business Address Service (optional)</h2>
                                    <ul>
                                        <li>A business address service provides a general business correspondence address for your company, and this is the address which is displayed at the top of your letterheads and stationery as your business location.</li>
                                        <li>If you choose to purchase this service, we will forward all business correspondence (non-government mail) to you by scan and email on the same day we receive it.</li>
                                        <li>Any items of value, such as bank cards, will be forwarded on by Royal Mail.</li>
                                        <li>This service does not include a registered office service, which should be purchased separately.</li>
                                        <li><b>You are not required to provide a business address to form a company, however, you may wish to use our Covent Garden, WC2 address to enhance your corporate image and provide privacy for your home address.</b></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="ef-registered-office-section">
                                <!--  Forwarding address -->
                                <div class="ef-item-box ef-selected">
                                    <div class="ef-item-content">
                                        <div class="w-row ef-panel-row">
                                            <div class="w-col">
                                                <h3 class="forward-address">Forwarding Address:</h3>
                                            </div>
                                        </div>
                                        <div class="w-row ef-panel-row">
                                            <div class="w-col w-col-8" style="margin-top: 10px;">
                                                <div class="">
                                                    <span class="ef-js-forwarding-business-address"></span>
                                                </div>
                                            </div>
                                            <div class="w-col w-col-4 w-clearfix add-col">
                                                <button type="button" class="ef-btn ef-choose-btn ef-completed-btn" data-bs-toggle="modal" data-address-type="business" data-bs-target="#addressModal">Choose Address</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end forwarding address -->
                            </div>
                        </div>
                    </div>

                    <div class="add-save">
                        <button type="button" onclick="saveAddressData('business')" class="ef-btn nextstep">Save</button>
                    </div>
                </div>
            </div>

            <div id="appointment" class="section">
                <div class="ef-panel-wrapper">
                    <div class="head-04" id="ef-panel-title">
                        <h1>Appointments</h1>
                    </div>
                    <div class="" id="ef-panel-content">
                        <div class="" id="ef-panel-inner-content">
                            <div id="ef-psc-warning" class="ef-primary-warning-msg ef-alert-box warning" style="display:none;">
                                <h2 class="">Warning</h2>
                                <div class="ef-alert-box-main-text" id="">
                                    <div class="ef-alert-box-main-text">
                                        <p class="fc-red">It is now a legal requirement to identify the Persons with Significant Control (PSCs) of a company.</p>
                                        <p class="fc-red">Any person who ultimately controls more than 25% of the company is a PSC. If you are a shareholder with more than 25% of the company's shares - you are a PSC.</p>
                                        <p class="fc-red"><strong class="fc-red">There are currently no PSCs appointed.</strong></p>
                                        <br>
                                        <p><strong>Please choose one of the following options to proceed:</strong></p>
                                        <div class="col nine">
                                            <p class="lh-31"><strong>1.</strong> I want to go to Current Appointments below, and click 'Select' to add a PSC(s).</p>
                                        </div>
                                        <div class="col three mr-bot-10"><a class="scroll ef-btn ef-primary-btn" href="#ef-current-appointment-wrapper" style="padding:5px 15px!important">Select</a></div>
                                        <div class="col nine">
                                            <p class="lh-31"><strong>2.</strong> I want 1st Formations to add a PSC(s) for me, free of charge.</p>
                                        </div>
                                        <div class="col three mr-bot-10"><a class="ef-btn ef-primary-btn" href="#" onclick="addPSC();" style="padding:5px 15px!important">Select</a></div>
                                        <div class="col nine">
                                            <p class="lh-31"><strong>3.</strong> I want to continue forming my company regardless of the warning - <strong>not recommended.</strong></p>
                                        </div>
                                        <div class="col three mr-bot-10">
                                            <a class="scroll ef-btn ef-primary-btn" style="padding:5px 15px!important" href="#" onclick="FormBuilder.LoadNextStep();">Select</a>
                                            <p></p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="ef-registered-addres-error" class="ef-primary-error-msg ef-alert-box fail" style="display:none;">
                                <div class="ef-alert-box-main-text main-error-text" id="">Sorry, there was an error on this page.</div>
                            </div>
                            <div>
                                <div id="current-appointments-wrapper">
                                    <div class="ef-information-box">
                                        <h2 class="ef-information-box-title">Appointments</h2>
                                        <p>A private company must have at least one director, being a natural person aged 16 years or over, and at least one shareholder; both roles may be fulfilled by the same individual.</p>
                                        <p>Please use the <b>Person</b> button to appoint an individual as an <b>Officer, Shareholder</b> or <b>PSC</b> of the Company.</p>
                                        <p>Use the <b>Corporate</b> button to appoint a corporate entity as an <b>Officer, Shareholder</b> or <b>PSC</b> of the Company.</p>
                                        <p>Use the <b>Other Legal Entity</b> Button if you want to appoint an other legal entity (e.g. a corporation sole, a national or local government, or an international organisation) as a <b>PSC</b> of the Company.</p>
                                    </div>
                                    <div class="ef-add-officer-wrapper">
                                        <h2>Add Another Officer</h2>
                                        <p>Click on one of the buttons below to add an officer to your company.</p>
                                        <div class="">
                                            <div class="ef-add-officer-buttons">
                                                <button type="button" class="ef-btn ef-add-officer person" onclick="showAppointmentTab('person')">Person</button>
                                                <button type="button" class="ef-btn ef-add-officer corporate" onclick="showAppointmentTab('corporate')">Corporate</button>
                                                <button type="button" class="ef-btn ef-add-officer corporate nominee" onclick="showAppointmentTab('other-legal-entity')">Other Legal Entity</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="document" class="section" style="border-bottom: none;">
                <div class="ef-panel-wrapper">
                    <div class="head-01">
                        <h1> Documents </h1>
                    </div>

                    <div class="ef-registered-office-step" id="ef-panel-content">
                        <div id="ef-panel-inner-content">
                            <div class="w-row">
                                <div class="w-col w-col-4">
                                    <label for="selectType">Choose a Proof of Identity:</label>
                                    <div class="document-dropdown">
                                        <select class="form-select" id="identityType">
                                            <option value="">-- Select --</option>
                                            <option value="Passport"> Passport </option>
                                            <option value="ResidencePermit"> Residence permit </option>
                                            <option value="DrivingLicence"> Driving Licence </option>
                                            <option value="BirthCertificate"> Birth Certificate </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="w-col w-col-8">
                                    <div id="fileInputWrapper" style="display:none;">
                                    </div>
                                </div>
                            </div>

                            <div class="w-row" style="margin-top: 20px;">
                                <div class="w-col w-col-4">
                                    <label for="selectType">Choose a Proof of Address:</label>
                                    <div class="document-dropdown">
                                        <select class="form-select" id="addressType">
                                            <option value="">-- Select --</option>
                                            <option value="OutsideDrivingLicence"> Driving Licence For Outside  </option>
                                            <option value="MarriageCertificate"> Marriage Certificate </option>
                                            <option value="DrivingLicence"> Driving Licence </option>
                                            <option value="BirthCertificate"> Birth Certificate </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="w-col w-col-8">
                                    <div id="fileInputForAddress" style="display:none;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="add-save">
                        <button type="button" id="pseudo-nextstep" class="ef-btn nextstep ef-save-next-btn" onclick="nextPageTab()"> Save & Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Choose Address Modal *@
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Forwarding Address</h5>
                <p>Tell us where to forward your mail to you, by entering your address below.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div id="an-address" class="ef-address-form" style="">
                    <div>
                        <div id="use-previous-address-or-search" class="address-form-div" style="display:block">
                            <h4>Recently used addresses</h4>

                            <div id="registeredAddressSection" class="address-section">
                                @foreach (var item in Model.AddressList.Where(x => x.IsRegisteredOffice))
                                {
                                    <div class="w-clearfix simple-row-elem">
                                        <div class="w-row ef-panel-row">
                                            <div class="w-col w-col-8">
                                                <p>@item.HouseName, @item.Street, @item.Town, @item.County, @item.PostCode, @item.Country</p>
                                            </div>
                                            <div class="w-col w-col-4 w-clearfix add-col">
                                                <button type="button" class="ef-btn ef-alt-address-btn" onclick='editAddress(@Html.Raw(Json.Serialize(item)))'>Edit</button>
                                                <button type="button" class="ef-btn ef-select-btn" onclick='selectAddress(@Html.Raw(Json.Serialize(item)))'>Select</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div id="businessAddressSection" class="address-section">
                                @foreach (var item in Model.AddressList.Where(x => x.IsBusiness))
                                {
                                    <div class="w-clearfix simple-row-elem">
                                        <div class="w-row ef-panel-row">
                                            <div class="w-col w-col-8">
                                                <p>@item.HouseName, @item.Street, @item.Town, @item.County, @item.PostCode, @item.Country</p>
                                            </div>
                                            <div class="w-col w-col-4 w-clearfix add-col">
                                                <button type="button" class="ef-btn ef-alt-address-btn" onclick='editAddress(@Html.Raw(Json.Serialize(item)))'>Edit</button>
                                                <button type="button" class="ef-btn ef-select-btn" onclick='selectAddress(@Html.Raw(Json.Serialize(item)))'>Select</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <h4>Or enter a new Address</h4>

                            <div class="w-clearfix simple-row-elem">
                                <div class="w-row ef-panel-row">
                                    <div class="w-col w-col-8">
                                        <p>Enter new Address</p>
                                    </div>
                                    <div class="w-col w-col-4 w-clearfix add-col">

                                        <!-- <span class="ef-btn ef-primary-btn ef-alt-btn ef-cancel-address" onclick="javascript:void(0)" >Cancel</span>-->
                                        <button type="button" class="ef-btn ef-select-btn" id="openSecondModal">Select</button>

                                    </div>
                                </div>

                            </div>

                            <div lass="ef-cancel-btn-wrapper">
                                <div class="w-clearfix">
                                    <button type="button" class="ef-btn ef-cancel-address" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="secondAddressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">Forwarding Address</h5>
                <p>Tell us where to forward your mail to you, by entering your address below.</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <div style="" class="address-form-div w-clearfix" id="an-address-form" name="an-address-form">
                    <div class="w-row row-margin ef-postcode-lookup-wrapper">
                        <div class="w-col w-col-6">
                            <label for="postcode-lookup">Post Code</label>
                            <input class="w-input postal-lookup postcode" id="postcode-lookup" type="text" placeholder="Enter your postal code" name="postcode-lookup">
                        </div>
                        <div class="w-col w-col-3">
                            <label for="postcode-lookup">&nbsp;</label>
                            <button type="button" class="ef-add-btn ef-postcode-lookup-btn" onclick="FormBuilder.PostCodeLookup(jQuery('#postcode-lookup').val())">Find Address</button>
                        </div>
                    </div>

                    <input type="hidden" asp-for="Address.AddressId" />

                    <label for="address-line-1">Name/Number <span>*</span></label>
                    <input class="w-input" asp-for="Address.HouseName" type="text" placeholder="Enter House Name/Number" />
                    <span class="text-address-error-message" id="Address_HouseName_error" style="display: none;"></span>

                    <label for="address-line-2">Street <span>*</span></label>
                    <input class="w-input" asp-for="Address.Street" type="text" placeholder="Enter Street" />
                    <span class="text-address-error-message" id="Address_Street_error" style="display: none;"></span>

                    <label for="address-line-3">Locality</label>
                    <input class="w-input" asp-for="Address.Locality" type="text" placeholder="Enter Locality" />

                    <label for="address-line-4">Town <span>*</span></label>
                    <input class="w-input" asp-for="Address.Town" type="text" placeholder="Enter Town" />
                    <span class="text-address-error-message" id="Address_Town_error" style="display: none;"></span>

                    <label for="address-line-5" class="address-line-5">County</label>
                    <input class="w-input address-line-5" asp-for="Address.County" type="text" placeholder="Enter County" />

                    <div class="w-row last-margin">
                        <div class="w-col w-col-6 ef-country-col">
                            <label for="address-country">Country <span>*</span></label>
                            <select class="w-select" asp-for="Address.Country">
                                <option value="AFGHANISTAN">Afghanistan</option>
                                <option value="ALBANIA">Albania</option>
                                <option value="ALGERIA">Algeria</option>
                                <option value="ANDORRA">Andorra</option>
                                <option value="ANGOLA">Angola</option>
                                <option value="ARGENTINA">Argentina</option>
                                <option value="ARMENIA">Armenia</option>
                                <option value="AUSTRALIA">Australia</option>
                                <option value="AUSTRIA">Austria</option>
                                <option value="AZERBAIJAN">Azerbaijan</option>
                                <option value="BAHAMAS">Bahamas</option>
                                <option value="BAHRAIN">Bahrain</option>
                                <option value="BANGLADESH">Bangladesh</option>
                                <option value="BELARUS">Belarus</option>
                                <option value="BELGIUM">Belgium</option>
                                <option value="BELIZE">Belize</option>
                                <option value="BENIN">Benin</option>
                                <option value="BHUTAN">Bhutan</option>
                                <option value="BOLIVIA">Bolivia</option>
                                <option value="BOSNIA AND HERZEGOVINA">Bosnia and Herzegovina</option>
                                <option value="BOTSWANA">Botswana</option>
                                <option value="BRAZIL">Brazil</option>
                                <option value="BRUNEI">Brunei</option>
                                <option value="BULGARIA">Bulgaria</option>
                                <option value="BURKINA FASO">Burkina Faso</option>
                                <option value="BURUNDI">Burundi</option>
                                <option value="CAMBODIA">Cambodia</option>
                                <option value="CAMEROON">Cameroon</option>
                                <option value="CANADA">Canada</option>
                                <option value="CHILE">Chile</option>
                                <option value="CHINA">China</option>
                                <option value="COLOMBIA">Colombia</option>
                                <option value="COSTA RICA">Costa Rica</option>
                                <option value="CROATIA">Croatia</option>
                                <option value="CYPRUS">Cyprus</option>
                                <option value="CZECH REPUBLIC">Czech Republic</option>
                                <option value="DENMARK">Denmark</option>
                                <option value="EGYPT">Egypt</option>
                                <option value="ESTONIA">Estonia</option>
                                <option value="FINLAND">Finland</option>
                                <option value="FRANCE">France</option>
                                <option value="GEORGIA">Georgia</option>
                                <option value="GERMANY">Germany</option>
                                <option value="GHANA">Ghana</option>
                                <option value="GREECE">Greece</option>
                                <option value="HONG KONG">Hong Kong</option>
                                <option value="HUNGARY">Hungary</option>
                                <option value="ICELAND">Iceland</option>
                                <option value="INDIA">India</option>
                                <option value="INDONESIA">Indonesia</option>
                                <option value="IRAN">Iran</option>
                                <option value="IRAQ">Iraq</option>
                                <option value="IRELAND">Ireland</option>
                                <option value="ISRAEL">Israel</option>
                                <option value="ITALY">Italy</option>
                                <option value="JAPAN">Japan</option>
                                <option value="JORDAN">Jordan</option>
                                <option value="KENYA">Kenya</option>
                                <option value="KUWAIT">Kuwait</option>
                                <option value="LATVIA">Latvia</option>
                                <option value="LEBANON">Lebanon</option>
                                <option value="LITHUANIA">Lithuania</option>
                                <option value="LUXEMBOURG">Luxembourg</option>
                                <option value="MALAYSIA">Malaysia</option>
                                <option value="MALTA">Malta</option>
                                <option value="MEXICO">Mexico</option>
                                <option value="MOROCCO">Morocco</option>
                                <option value="NEPAL">Nepal</option>
                                <option value="NETHERLANDS">Netherlands</option>
                                <option value="NEW ZEALAND">New Zealand</option>
                                <option value="NIGERIA">Nigeria</option>
                                <option value="NORWAY">Norway</option>
                                <option value="PAKISTAN">Pakistan</option>
                                <option value="PHILIPPINES">Philippines</option>
                                <option value="POLAND">Poland</option>
                                <option value="PORTUGAL">Portugal</option>
                                <option value="QATAR">Qatar</option>
                                <option value="ROMANIA">Romania</option>
                                <option value="RUSSIA">Russia</option>
                                <option value="SAUDI ARABIA">Saudi Arabia</option>
                                <option value="SINGAPORE">Singapore</option>
                                <option value="SLOVAKIA">Slovakia</option>
                                <option value="SLOVENIA">Slovenia</option>
                                <option value="SOUTH AFRICA">South Africa</option>
                                <option value="SOUTH KOREA">South Korea</option>
                                <option value="SPAIN">Spain</option>
                                <option value="SRI LANKA">Sri Lanka</option>
                                <option value="SWEDEN">Sweden</option>
                                <option value="SWITZERLAND">Switzerland</option>
                                <option value="SYRIA">Syria</option>
                                <option value="TAIWAN">Taiwan</option>
                                <option value="THAILAND">Thailand</option>
                                <option value="TUNISIA">Tunisia</option>
                                <option value="TURKEY">Turkey</option>
                                <option value="UGANDA">Uganda</option>
                                <option value="UKRAINE">Ukraine</option>
                                <option value="UNITED ARAB EMIRATES">United Arab Emirates</option>
                                <option value="UNITED KINGDOM">United Kingdom</option>
                                <option value="UNITED STATES">United States</option>
                                <option value="URUGUAY">Uruguay</option>
                                <option value="VIETNAM">Vietnam</option>
                                <option value="YEMEN">Yemen</option>
                                <option value="ZAMBIA">Zambia</option>
                                <option value="ZIMBABWE">Zimbabwe</option>
                            </select>
                        </div>

                        <div class="w-col w-col-6 postcode-col">
                            <label for="address-postcode" id="address-postcode-label">
                                Postal Code
                                <span>
                                    *
                                </span>
                            </label>
                            <input class="w-input postcode" asp-for="Address.PostCode" type="text" placeholder="Enter Postcode" />
                            <span class="text-address-error-message" id="Address_PostCode_error" style="display: none;"></span>
                        </div>
                    </div>
                    <button type="button" class="ef-add-btn ef-cancel-forward-address" onclick="javascript:void(0)">Cancel</button>
                    <button type="submit" class="ef-add-btn ef-save-address-btn" onclick="saveChooseAddressData()">Save &amp; Continue</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="appointmentTab"></div>

<script>
    function saveFormationData(type) {
        if(type == "particular"){
            var isValid = true;
            const particularData = {
                CompanyName: $("#Particular_CompanyName").val(),
                CompanyType: $("#Particular_CompanyType").val(),
                Jurisdiction: $("#Particular_Jurisdiction").val(),
                Activities: $("#Particular_Activities").val(),
            };

            var SIC_Code = $("#ef-sic-code-list").text();
            var SIC_Code_List = SIC_Code.match(/\d+/g);
            const expires = 7 ? { expires: 7, secure: true, sameSite: 'Strict' } : {};
            Cookies.set("SIC_Code", SIC_Code_List?.join(','), expires);

            $("#companyNotAvailable").hide();
            $("#companyAvailable").hide();

            // Field validation helper
            function validateField(id, fieldName) {
                var value = $(id).val().trim();
                if (value === "") {
                    isValid = false;
                    // $(id).after('<small class="text-danger"> ' + fieldName + ' is required.</small>');
                    $("#errorMsg").show();
                    $("#errorFieldName").html(fieldName + " " + "is required.");
                    $("#warnigMessage").hide();
                }
                else {
                    $("#errorMsg").hide();
                    if (id == "#Particular_CompanyName") {
                        var str1 = $("#Particular_CompanyName").val();
                        if (Cookies.get("packageName") == "LLP") {

                            var str2 = "LLP, LIMITED LIABILITY PARTNERSHIP";

                            var found = false;

                            // Split str2 into parts using comma and space as delimiters
                            var parts = str2.split(/[\s,]+/); // splits on space and comma
                            $.each(parts, function(index, part) {
                                if (str1.toUpperCase().includes(part.toUpperCase())) {
                                    found = true;
                                    return false; // break out of loop
                                }
                            });

                            if (found) {
                                $("#warnigMessage").hide();
                                $("#llpSubCompanyName").hide();
                                $("#otherSubCompanyName").hide();
                            } else {
                                $("#warnigMessage").show();
                                $("#alertCompanyName").html(str1);
                                $("#llpSubCompanyName").show();
                                $("#otherSubCompanyName").hide();
                            }
                        }
                        else {
                            $("#warnigMessage").show();
                            $("#alertCompanyName").html(str1);
                            $("#otherSubCompanyName").show();
                            $("#llpSubCompanyName").hide();
                        }
                    }
                }
            }
            validateField("#Particular_CompanyName", "CompanyName");

            if (isValid) {
                $.ajax({
                    url: "/FormationPage/CompanyFormationSubTab?handler=SaveParticularData",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(particularData),
                    success: function (response) {
                        $("#errorCompanyNameMsg").css("display", "none");
                        document.querySelectorAll('.field-msg').forEach(span => span.textContent = '');

                        if (!response.success) {
                            // Loop through returned errors and set messages
                            for (const [field, message] of Object.entries(response.errors)) {
                                const errorSpan = document.getElementById(`${field}-error`);
                                if (errorSpan) {
                                    errorSpan.textContent = message;
                                }
                            }
                        }
                        else {
                            console.log("Success:", response);
                        }
                    },
                    error: function (xhr) {
                        console.error("Error:", xhr.statusText, xhr.responseText);
                    }
                });
            }
        }
    }

    $(document).ready(function () {
        $('[data-bs-toggle="modal"]').on('click', function () {
            var addressType = $(this).data('address-type');

            if (addressType === 'registered') {
                $('#registeredAddressSection').show();
                $('#businessAddressSection').hide();
            } else if (addressType === 'business') {
                $('#registeredAddressSection').hide();
                $('#businessAddressSection').show();
            }
        });
    });

    $(document).ready(function () {
        $("#Particular_CompanyName").val(Cookies.get("companyName"));
        $("#Company_RegisteredEmail").val(Cookies.get("UserEmail"));
        $('#openSecondModal').on('click', function () {
            $('#addressModal').modal('hide');

            $('#addressModal').on('hidden.bs.modal', function () {
                $('#secondAddressModal').modal('show');
            });
        });
    });

    $('#Particular_CompanyName').keypress(function (e) {
        if (e.which === 13) {
            e.preventDefault(); // Prevent form submission
            CheckCompanyName(); // Simulate button click
        }
    });

    function CheckCompanyName() {
        if ($("#Particular_CompanyName").val() == "") {
            $("#errorCompanyname").css("display", "block");
        }
        else {
            var searchedCompanyName = $("#Particular_CompanyName").val();
            const expires = 7 ? { expires: 7, secure: true, sameSite: 'Strict' } : {};
            $.ajax({
                type: "GET",
                url: "/Index?handler=CheckCompanyAvailability&companyName=" + encodeURIComponent($("#Particular_CompanyName").val()),
                success: function (isAvailable) {
                    // Check if the response is a string and convert it to a boolean if necessary
                    if (typeof isAvailable === 'string') {
                        isAvailable = (isAvailable.toLowerCase() === 'true');
                    }

                    if (isAvailable === true) {;
                        $("#companyAvailable").css("display", "block");
                        $("#companyNotAvailable").hide();
                        $("#warnigMessage").hide();
                        $("#errorMsg").hide();
                        $("#availableCompanyName").html(searchedCompanyName);
                    } else {
                        $("#companyNotAvailable").show();
                        $("#companyAvailable").hide();
                        $("#warnigMessage").hide();
                        $("#errorMsg").hide();
                        $("#notAvailablecompanyName").html(searchedCompanyName);
                    }
                },
                error: function () {
                    console.log("Error checking company name.");
                }
            });
        }
    }

    $('#Particular_Activities').on('change', function () {
        var selectedValue = $(this).val();
        console.log("Selected Value:", selectedValue);
        $.ajax({
            type: "GET",
            url: "/FormationPage/CompanyFormationSubTab?handler=GetSicCodeByCategory&section=" + encodeURIComponent(selectedValue),
            success: function (response) {
                if (response.success && response.data) {
                    console.log(response.data);
                    $("#ef-js-sic-codes__filter").css("display", "block");
                    const container = $('#ef-js-sic-codes__filter__found');
                    container.empty();

                    response.data.forEach((item, index) => {
                        const html = `
                                        <a href="#" class="ef-js-sic-code-row sic-code-row" order-id="${index + 1}" data-attr-sic-id="${item.sicCode}" style="display: block;">
                                                <div class="ef-js-sic-code-row-text">${item.sicCode} - ${item.description}</div>
                                        <div class="ef-js-plus-button-container">
                                                <img class="ef-js-plus-button" src="/images/add.png">
                                        </div>
                                    </a>`;
                        container.append(html);
                    });
                } else {
                    console.warn('No SIC codes found or invalid response.');
                }
            },
            error: function (xhr, status, error) {
                console.error("Error loading SIC codes:", error);
            }
        });
    });

    function saveChooseAddressData() {
        var isValid = true;

        // Field validation helper
        function validateField(id, errorId, fieldName) {
            const value = $(id).val().trim();
            if (value === "") {
                isValid = false;
                $(errorId).text(`${fieldName} is required.`).show();
            } else {
                $(errorId).text("").hide();
            }
        }

        validateField("#Address_HouseName", "#Address_HouseName_error", "House Name");
        validateField("#Address_Street", "#Address_Street_error", "Street");
        validateField("#Address_Town", "#Address_Town_error", "Town");
        validateField("#Address_PostCode", "#Address_PostCode_error", "Postcode");

        if (isValid) {
            $("#secondAddressModal").modal("hide");
        }
    }

    function saveAddressData(type) {
        var isValid = true;

        if(type == "registered") {
            // Field validation helper
            function validateField(id, errorId, fieldName) {
                const value = $(id).val().trim();
                if (value === "") {
                    isValid = false;
                    $(errorId).text(`${fieldName} is required.`).show();
                } else {
                    $(errorId).text("").hide();
                }
            }

            validateField("#Company_RegisteredEmail", "#Address_RegisteredEmail_error", "Registered Email");
            debugger;
            const registeredEmail = $("#Company_RegisteredEmail").val().trim();
            const addressData = {
                addressId: parseInt($("#Address_AddressId").val()) || 0,
                houseName: $("#Address_HouseName").val(),
                street: $("#Address_Street").val(),
                postCode: $("#Address_PostCode").val(),
                town: $("#Address_Town").val(),
                country: $("#Address_Country").val(),
                county: $("#Address_County").val(),
                locality: $("#Address_Locality").val()
            };
            const payload = {
                 registeredEmail: registeredEmail,
                 address: addressData
             };

            if(isValid){
                $.ajax({
                    url: "/FormationPage/CompanyFormationSubTab?handler=SaveResidentialAddress",
                    method: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(payload),
                    success: function (response) {
                        $("#errorCompanyNameMsg").css("display", "none");
                        document.querySelectorAll('.field-msg').forEach(span => span.textContent = '');

                        if (!response.success) {
                            // Loop through returned errors and set messages
                            for (const [field, message] of Object.entries(response.errors)) {
                                const errorSpan = document.getElementById(`${field}-error`);
                                if (errorSpan) {
                                    errorSpan.textContent = message;
                                }
                            }
                        }
                        else {
                            console.log("Success:", response);
                            $("#secondAddressModal").modal('hide');
                            $("#addressModal").modal('hide');
                            window.location.reload();
                            const redirectUrl = `/FormationPage/Company-Formation?section=CompanyFormation#address`;
                            window.location.href = redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        console.error("Error:", xhr.statusText, xhr.responseText);
                    }
                });
            }
        }
        else if (type == "business"){
            debugger;
            const addressData = {
                addressId: parseInt($("#Address_AddressId").val()) || 0,
                houseName: $("#Address_HouseName").val(),
                street: $("#Address_Street").val(),
                postCode: $("#Address_PostCode").val(),
                town: $("#Address_Town").val(),
                country: $("#Address_Country").val(),
                county: $("#Address_County").val(),
                locality: $("#Address_Locality").val()
            };
            $.ajax({
                url: "/FormationPage/CompanyFormationSubTab?handler=SaveBusinessAddress",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(addressData),
                success: function (response) {
                    if (!response.success) {
                        // Loop through returned errors and set messages
                        for (const [field, message] of Object.entries(response.errors)) {
                            const errorSpan = document.getElementById(`${field}-error`);
                            if (errorSpan) {
                                errorSpan.textContent = message;
                            }
                        }
                    }
                    else {
                        console.log("Success:", response);
                        $("#secondAddressModal").modal('hide');
                        $("#addressModal").modal('hide');
                        window.location.reload();
                        const redirectUrl = `/FormationPage/Company-Formation?section=CompanyFormation#business-address`;
                        window.location.href = redirectUrl;
                    }
                },
                error: function (xhr) {
                    console.error("Error:", xhr.statusText, xhr.responseText);
                }
            });
        }
    }

    function editAddress(data) {
        $("#Address_AddressId").val(data.addressId); // Ensure your model has Id

        $("#Address_HouseName").val(data.houseName);
        $("#Address_Street").val(data.street);
        $("#Address_Locality").val(data.locality);
        $("#Address_Town").val(data.town);
        $("#Address_County").val(data.county);
        $("#Address_Country").val(data.country);
        $("#Address_PostCode").val(data.postCode);

        // Clear error messages
        $(".text-address-error-message").hide().text("");

        $("#secondAddressModal").modal("show");
    }

    function selectAddress(data) {
        if (data.isRegisteredOffice == true) {
            const addressHtml = `${data.houseName}, ${data.street}, ${data.town}, ${data.county}, ${data.postCode}, ${data.country}`;
            $(".ef-js-forwarding-address").html(addressHtml);
        }
        else if (data.isBusiness == true) {
            const addressHtml = `${data.houseName}, ${data.street}, ${data.town}, ${data.county}, ${data.postCode}, ${data.country}`;
            $(".ef-js-forwarding-business-address").html(addressHtml);
        }
        $("#addressModal").modal("hide");
    }


    // $('#Particular_SIC_Code').on('keyup', function () {
    //     const query = $(this).val().toLowerCase().trim();

    //     $('#ef-js-sic-codes__filter__found .sic-code-row').each(function () {
    //         const $row = $(this);
    //         const sicCode = $row.data('attr-sic-id').toString();
    //         const text = $row.find('.ef-js-sic-code-row-text').text().toLowerCase();

    //         // Match against SIC code or description text
    //         if (sicCode.includes(query) || text.includes(query)) {
    //             $row.show();
    //         } else {
    //             $row.hide();
    //         }
    //     });
    // });

    $('#Particular_SIC_Code').on('keyup', function () {
        const query = $(this).val().toLowerCase().trim();

        $('#ef-js-sic-codes__filter__found .sic-code-row').each(function () {
            const $row = $(this);
            const sicCode = $row.data('attr-sic-id').toString();
            const text = $row.find('.ef-js-sic-code-row-text').text().toLowerCase();

            // Match against SIC code or description text
            if (sicCode.includes(query) || text.includes(query)) {
                $row.show();
            } else {
                $row.hide();
            }
        });
    });

    $(document).on('click', '.sic-code-row', function (e) {
        e.preventDefault(); // Prevent default anchor behavior

        const $row = $(this);
        const sicCode = $row.data('attr-sic-id');
        const description = $row.find('.ef-js-sic-code-row-text').text().trim();

        const $list = $("#ef-sic-code-list");

        // Check existing items
        $list.find(".ef-no-sic-code").remove();

        // Check current count
        if ($list.find("li.ef-sic-code").length >= 4) {
            showToast('You can only select upto 4 SIC codes.', 'danger');
            return;
        }

        const SicStr = `
            <li class="ef-sic-code" data-sic-code="${sicCode}">
                <div class="sic-text">${description}</div>
                <div class="ef-remove-sic-code-img-container">
                    <div class="ef-remove-sic-code" onclick="FormBuilder.RemoveSicCode(this);">
                            <img class="ef-remove-sic-code-img" src="/images/cross.png" alt="X">
                        <input type="hidden" value="${sicCode}" name="siccodes[]">
                    </div>
                </div>
            </li>`;

        $list.append(SicStr);
        $row.hide();
    });
    const FormBuilder = {
        RemoveSicCode: function (el) {
            const $removeBtn = $(el);
            const $li = $removeBtn.closest('li.ef-sic-code');
            const sicCode = $li.data('sic-code');

            // Remove the list item
            $li.remove();

            // Show back the corresponding .sic-code-row
            $(`.sic-code-row[data-attr-sic-id="${sicCode}"]`).show();
        }
    };

    $(document).ready(function () {
        $("#identityType").change(function () {
            const selectedValue = $(this).val();
            const fileInputWrapper = $('#fileInputWrapper');

            const showFileInputFor = ['Passport', 'ResidencePermit', 'DrivingLicence', 'BirthCertificate'];

            if (showFileInputFor.includes(selectedValue)) {
              // Create dynamic file input with new ID
              const newId = `fileInput_${selectedValue}`;
              const fileInputHtml = `
              <label> ${selectedValue} : </label>
              <input class="form-control" type="file" id="${newId}" />`;

              // Show wrapper and set new input
              fileInputWrapper.html(fileInputHtml).show();
            } else {
              fileInputWrapper.hide().empty();
            }
        });

        $("#addressType").change(function () {
            const selectedValue = $(this).val();
            const fileInputWrapper = $('#fileInputForAddress');

            const showFileInputFor = ['OutsideDrivingLicence', 'MarriageCertificate', 'DrivingLicence', 'BirthCertificate'];

            if (showFileInputFor.includes(selectedValue)) {
              // Create dynamic file input with new ID
              const newId = `fileInput_${selectedValue}`;
              const fileInputHtml = `
              <label> ${selectedValue} : </label>
              <input class="form-control" type="file" id="${newId}" />`;

              // Show wrapper and set new input
              fileInputWrapper.html(fileInputHtml).show();
            } else {
              fileInputWrapper.hide().empty();
            }
        });
    });
</script>
