@page
@model Spendwise_WebApp.Pages.FormationPage.DeliveryAndPartnerDetailsModel
@using System.Text.Json
@{
    Layout = null;
}
<style>
    caption, td, th {
        padding: 1% !important;
    }
</style>
<div id="deliveryAndPartnerServices">
    <div class="ef-order-form-nav-step-wrapper">
        <div class="w-container ef-order-form-nav-step-content">
            <a class="nav-link ef-companyformation-steps" aria-current="page" href="#partnerServices" style="height: 40px; float: left; width: 25%;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-1-active"></div>
                    Delivery & Partner Services
                </div>
            </a>
        </div>
    </div>

    <div id="efPageContent" class="ui-widget">
        <h2>Payment For @Model.Company.CompanyName</h2>
        <form method="post" action="/cart/" id="efGoPayNowForm">
            <input type="hidden" name="_ga" id="_ga" value="">
            <input type="hidden" name="csrf-token" value="116707275bd1ad108dfa4fa49eb5783b900d7e7429d787de0b22a07cdcd9e703">
            <input type="hidden" name="o" value="5126304">

            <table id="efCartProductsTable" class="efTable ui-widget-content">
                <thead>
                    <tr class="ui-widget-header" style="background-color: #38761d !important;">
                        <th>Product</th>
                        <th style="text-align:right">Unit Price</th>
                        <th style="text-align:right">Net</th>
                        <th style="text-align:right">VAT</th>
                    </tr>
                </thead>
                <tbody>


                    <tr class="efTableSubheader efCompanyNameRow efCartCompanyHeader">
                        <td><a href=""> @Model.CompanyName </a></td>
                    </tr>

                    <tr class="efOdd">
                        <td data-title="Product">
                            <div>
                                @Model?.SelectedPackage?.PackageName
                            </div>
                        </td>
                        @* <td style="text-align:center" data-title="Quantity">1</td> *@
                        <td style="text-align:right;" data-title="Unit Price">
                            £
                            @Model?.SelectedPackage?.Price
                        </td>
                        <td style="text-align:right" id="packageNetAmount" data-title="Net">£@Model?.SelectedPackage?.Price</td>
                        <td style="text-align:right" id="packageVatAmount" data-title="VAT"></td>
                    </tr>

                    @foreach (var item in Model.AdditionalPackageItems)
                    {
                        <tr class="efOdd">
                            <td data-title="Product">
                                <div>
                                    @item.ItemName
                                </div>
                            </td>
                            @* <td style="text-align:center" data-title="Quantity">1</td> *@
                            <td style="text-align:right;" data-title="Unit Price">
                                £
                                @item.price
                            </td>
                            <td style="text-align:right" id="addPackageNetAmount_@item.AdditionalPackageItemId" data-title="Net">£@item.price</td>
                            <td style="text-align:right" id="addPackageVatAmount_@item.AdditionalPackageItemId" data-title="VAT"></td>
                        </tr>
                    }

                    <tr class="efTableSubheader efCartNetTotalTr" id="efNetTotalRow">
                        <td colspan="3" class="efCartNetTotalLabel" style="">Net Total:</td>
                        <td class="efCartNetTotalVal"></td>
                    </tr>

                    <tr class="efTableSubheader efCartVatTr" id="efVatTotalRow">
                        <td colspan="3" class="efCartVatLabel">V.A.T:</td>
                        <td class="efCartVatVal"></td>
                    </tr>

                    <tr class="efTableSubheader efCartTotalTr" id="efTotalPriceRow">
                        <td colspan="3" class="efCartTotalLabel">Total:</td>
                        <td class="efCartTotalVal"></td>
                    </tr>

                    <tr class="efTableSubheader efCartNetTotalTr" id="efNetTotalRow">
                        <td colspan="4" class="efCartPaymentlLabel">Previous Payment:</td>
                        <td class="efCartPaymentVal"></td>
                        <td></td>
                    </tr>

                    <tr class="efTableSubheader efCartNetTotalTr" id="efNetTotalRow">
                        <td colspan="4" class="efCartPaymentlLabel">Payment Due:</td>
                        <td class="efCartPaymentDueVal"> £0.00 </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="efPanel ui-corner-all ui-widget-content" id="efOutputOptionsContainer" style="margin-top:10px">
                <div class="efPanelHeader ui-widget-header" style="background-color: #38761d !important; font-size: 18px; height: 4.5rem;">
                    <img src="/images/lorry.png" alt="" style="float:left;margin-right:4px;">
                    Delivery Details
                    <p style="font-weight: normal; padding: 10px 0 10px; color: #000;">
                        Please check the recipient information below is correct, as these details will be used to deliver your order to you.
                    </p>
                </div>
                <div class="efPanelContent efPanelContentVeryCondensed ui-corner-bottom">
                    <table class="efTable efTableVeryCondensed efTableUnbordered ui-corner-bottom ui-widget-content" style="width:auto">
                        <tbody class="deliveryTable">
                            <tr>
                                <td><span class="efInputLabel">Order Description (optional):</span></td>
                                <td><input type="text" class="efTextInput" name="order_note" value="@Model.Company.CompanyName"></td>
                            </tr>

                            <tr>
                                <td><span class="efInputLabel">Recipient Name:</span></td>
                                <td><input type="text" class="efTextInput" name="recipient_name" value="@Model.User.Forename @Model.User.Surname"></td>
                            </tr>

                            <tr>
                                <td><span class="efInputLabel">Recipient Email:</span></td>
                                <td><input id="emailfield" required="required" type="text" class="efTextInput" name="recipient_email" value="@Model.User.Email" placeholder="Required"></td>
                            </tr>

                            <tr>
                                <td><span class="efInputLabel">Recipient Address:</span></td>
                                <td>
                                    <input type="hidden" name="recipient_address" id="delivery-address-id" value="3360154">
                                    <span id="delivery_address_string">
                                        @($"{Model.DeliveryAddressList.Street}, {Model.DeliveryAddressList.Town}, {Model.DeliveryAddressList.County}, {Model.DeliveryAddressList.PostCode}, {Model.DeliveryAddressList.Country}")
                                    </span>
                                    <span style="display: none;" class="efButton ui-button ui-widget ef-js-choose-delivery-address ui-state-default ui-corner-all ui-button-text-only" data-delivery-address-label="Choose Address" role="button" aria-disabled="false">
                                        <span class="ui-button-text">
                                            <img src="/images/arrow_rotate_clockwise.png" alt="" width="16" style="float:left;margin-right:4px">Choose Another
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="efPanel ui-corner-all ui-widget-content" style="margin-top:10px">
                <div class="efPanelHeader ui-widget-header" style="background-color: #38761d !important;">
                    <img src="/images/user_green.png" alt="" style="float:left;margin-right:4px;">
                    Cardholder's Details
                </div>
                <div class="efPanelContent efPanelContentVeryCondensed ui-corner-bottom">
                    <p class="efCartMlcIntro">
                        To meet our Know Your Customer (KYC) obligations under the Money Laundering Regulations, we require the following information about the cardholder:
                    </p>
                    <p>
                        <strong>
                            Please note: It is a legal requirement to provide your actual residential address and correct date of birth. Supplying incorrect information will lead to the rejection of your new company registration.
                        </strong>
                    </p>
                    <p></p>
                    <input type="hidden" value="1" name="mlc_user_check">
                    <table id="js_regulated_user_tbl" class="efTable efTableUnbordered ui-corner-bottom ui-widget-content" style="width:auto; display: none;">
                        <tbody>
                            <tr>
                                <td>
                                    <b>Cardholder's Date of Birth: </b>
                                </td>
                                <td>
                                    <input type="text" class="efTextInput efMLCDOB hasDatepicker" id="user_DOB" name="user_DOB" value="31/08/1988">
                                </td>
                            </tr>
                            <tr>
                                <td><b>Residential address:</b></td>
                                <td>
                                    <input type="hidden" name="user_address" id="user-address-id" value="3361586">
                                    <span id="user_address_string">
                                    </span>
                                    <span class="efButton ui-button ui-widget ef-js-choose-user-address ui-state-default ui-corner-all ui-button-text-only" onclick="showUserAddressPanel()" role="button" aria-disabled="false">
                                        <span class="ui-button-text">
                                            <img src="/images/arrow_rotate_clockwise.png" alt="" width="16" style="float:left;margin-right:4px">Choose Address
                                        </span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top;">
                                    <b>What is your relation to this company?</b>
                                </td>
                                <td style="vertical-align: text-top;">
                                    <textarea style="" class="efMLCReason" rows="4" cols="60" name="reason"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>

        <p id="tnc-check" class="ef-terms-and-conditions-check">
            <span>
                <input type="checkbox" id="agree-checkbox" value="1">
                <label for="tcagree-checkbox" id="tcagree-checkbox-label">
                    I agree to the <a href="/terms" target="_blank" rel="noopener">Terms and Conditions</a> &amp; <a href="/privacy-policy/" target="_blank" rel="noopener">Privacy Policy</a>
                </label>
            </span>
        </p>

        <!-- checkout button wrapper -->
        <div class="efCartCheckoutButtonWrapper cart-checkoutBtn-wrapper" style="text-align:right; ">
            <div>
                <span class="efCartCheckoutButtonLoader efHide"></span>
                <span class="efCartCheckoutButton" id="SubmitToReview" role="button" aria-disabled="false" onclick="handleSubmitToReviewClick()">Submit</span>
            </div>
        </div>
    </div>
</div>

<div id="cardResidentialAdressPanel" class="address-panel shadow p-3" style="display:none;">
    <h5>Select an Address</h5>
    <button class="btn btn-secondary mt-2" onclick="CloseResidentialAddressPanel()">Close</button>
    <ul id="ulresidentialdAdd" style="display:none;">
        @foreach (var item in Model.CartAddressList.Where(x => x.IsResidetialAddress))
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    @item.HouseName @item.Street, @item.Town, @item.County, @item.PostCode, @item.Country
                </span>
                <button type="button"
                        class="btn btn-success btn-sm"
                        onclick='selectResidentialAddress(@Html.Raw(Json.Serialize(item)))'>
                    Select
                </button>
            </li>
        }
    </ul>
</div>

<script>
    $(document).ready(function () {
        var NetAmount = parseFloat($("#packageNetAmount").text().replace('£', ''));
        let vat = NetAmount * 0.20;
        $("#packageVatAmount").text("£" + vat.toFixed(2));

        // For Additional package
        var additionalPackageItems = @Html.Raw(JsonSerializer.Serialize(Model.AdditionalPackageItems));

        // Now loop through in JavaScript/jQuery
        var netTotal = 0;
        var vatTotal = 0;

        // Loop through Additional Packages
        $.each(additionalPackageItems, function (index, item) {
            // VAT for Additional Package
            var netAmount = parseFloat($("#addPackageNetAmount_" + item.AdditionalPackageItemId).text().replace('£', '').trim());
            var vatAmount = netAmount * 0.20;
            $("#addPackageVatAmount_" + item.AdditionalPackageItemId).text("£" + vatAmount.toFixed(2));

            // Sum net amount
            if (!isNaN(netAmount)) {
                netTotal += netAmount;
            }

            // Sum VAT
            if (!isNaN(vatAmount)) {
                vatTotal += vatAmount;
            }
        });

        // Main package values
        var mainNetAmount = parseFloat($("#packageNetAmount").text().replace("£", "").trim());
        var mainVatAmount = parseFloat($("#packageVatAmount").text().replace("£", "").trim());

        if (!isNaN(mainNetAmount)) {
            netTotal += mainNetAmount;
        }

        if (!isNaN(mainVatAmount)) {
            vatTotal += mainVatAmount;
        }

        // Update the totals in the summary rows
        $(".efCartNetTotalVal").text("£" + netTotal.toFixed(2));
        $(".efCartVatVal").text("£" + vatTotal.toFixed(2));
        $(".efCartTotalVal").text("£" + (netTotal + vatTotal).toFixed(2));
        $(".efCartPaymentVal").text("£" + (netTotal + vatTotal).toFixed(2));
    });

    function handleSubmitToReviewClick() {
        // Check if the checkbox with id "agree-checkbox" is checked
        if ($("#agree-checkbox").is(":checked")) {
            $.ajax({
                url: "/FormationPage/DeliveryAndPartnerDetails?handler=SubmitCompanyToReview",
                type: "POST",
                contentType: "application/json",
                success: function (result) {
                    if (result.success) {
                        showToast("Company submitted for review successfully!", "success");

                    } else {
                        showToast("Failed to submit company for review.", "danger");
                    }
                },
                error: function () {
                    showToast("An error occurred while submitting the company.", "danger");
                }
            });
        } else {
            // Show error toast if checkbox is not checked
            showToast("Please agree to the terms before submitting.", "danger");
        }
    }

    function showUserAddressPanel() {
        document.getElementById('cardResidentialAdressPanel').style.display = 'block';
        document.getElementById('ulresidentialdAdd').style.display = 'block';
    }

    function CloseResidentialAddressPanel() {
        document.getElementById('cardResidentialAdressPanel').style.display = 'none';
    }

    function selectResidentialAddress(data) {
        const addressHtml = `${data.houseName} ${data.street}, ${data.town}, ${data.county}, ${data.postCode}, ${data.country}`;
        $("#user_address_string").html(addressHtml);

        CloseResidentialAddressPanel();
    }
</script>