@page
@model Spendwise_WebApp.Pages.FormationPage.SummaryModel
@{
    Layout = null;
}
@{
    var RegistredOfficeAddress = Model.AddressList.Where(x => x.IsRegisteredOffice == true && x.IsCurrent == true).FirstOrDefault();
    var BusinessOfficeAddress = Model.AddressList.Where(x => x.IsBusiness == true && x.IsCurrent == true).FirstOrDefault();
    // var BusinessOfficeAddress = Model.AddressList.Where(x => x.IsBusiness == true && x.IsCurrent == true).FirstOrDefault();
    // var BusinessOfficeAddress = Model.AddressList.Where(x => x.IsBusiness == true && x.IsCurrent == true).FirstOrDefault();
    // var BusinessOfficeAddress = Model.AddressList.Where(x => x.IsBusiness == true && x.IsCurrent == true).FirstOrDefault();
}
<div>
    <div class="ef-order-form-nav-step-wrapper">
        <div class="w-container ef-order-form-nav-step-content">
            <a class="nav-link ef-companyformation-steps" aria-current="page" href="#summary" style="height: 40px; float: left;">
                <div class="ef-order-form-nav-item-text">
                    <div class="ef-order-form-nav-item-indicator step-1-active"></div>
                    Summary
                </div>
            </a>
        </div>
    </div>

    <div class="w-container ef-content-wrapper SummaryContainer" id="ef-content-wrapper">
        <div class="ef-panel-wrapper">

            <div class="head-01" id="ef-panel-title">
                <h1>Summary</h1>
            </div>

            <div class="" id="ef-panel-summary-content">
                <div id="ef-review-error" class="ef-primary-error-msg ef-alert-box fail" style="display : none;">
                    <div class="ef-alert-box-main-text main-error-text" id=""></div>
                </div>

                <div id="ef-panel-inner-content">
                    <div class="ef-review-section-title-wrapper">
                        <div class="w-row ef-review-section-title">
                            <div class="w-col w-col-6">
                                <h2 class="summary-title">Company Formation</h2>
                            </div>
                            <div class="w-col w-col-6">
                                <button type="button" id="go-to-cart" class="ef-btn additional-button">
                                    Save &amp; Continue
                                </button>
                                <button class="btn btn-success" onclick="">
                                    Download Summary
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="panel-review">
                        <div class="ef-form-wrap" id="company-formation-summary">
                            <!-- start particulars wrapper -->
                            <div class="ef-review-particulars-wrapper">
                                <h3>Particulars</h3>
                                <div class="w-row">
                                    <div class="w-col w-col-11">
                                        <div class="w-row row-margin ef-review-company-name">
                                            <div class="w-col w-col-5">
                                                <div class="ef-review-title">Company Name</div>
                                            </div>
                                            <div class="w-col w-col-7">
                                                <div>@Model.Particular.CompanyName</div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-company-type">
                                            <div class="w-col w-col-5">
                                                <div class="ef-review-title">Company Type</div>
                                            </div>
                                            <div class="w-col w-col-7">
                                                <div>
                                                    @Model.Particular.CompanyType
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-jurisdiction">
                                            <div class="w-col w-col-5">
                                                <div class="ef-review-title">Jurisdiction</div>
                                            </div>
                                            <div class="w-col w-col-7">
                                                <div>
                                                    @Model.Particular.Jurisdiction
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-row row-margin ef-review-sic-codes">
                                            <div class="w-col w-col-5">
                                                <div class="ef-review-title">SIC Codes</div>
                                            </div>
                                            <div class="w-col w-col-5 ef-review-sic-codes-col">
                                                <div class="ef-review-sic-code">
                                                    <p>
                                                        @Html.Raw(Model.Particular.SIC_Code)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="w-col w-col-1">
                                        <button type="button" class="btn btn-success" onclick="">Edit</button>
                                    </div>
                                </div>
                            </div>
                            @if (RegistredOfficeAddress != null)
                            {
                                <div class="ef-review-business-address-wrapper">
                                    <h3>Registered Office</h3>
                                    <div class="w-row">
                                        <div class="w-col w-col-11">
                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5">
                                                    <div class="ef-review-title">Email</div>
                                                </div>
                                                <div class="w-col w-col-7">
                                                    <div>
                                                        @Model.RegistredEmail
                                                    </div>
                                                </div>
                                                <div class="w-col w-col-1">
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5">
                                                    <div class="ef-review-title">Addresses</div>
                                                </div>
                                                <div class="w-col w-col-7">
                                                    <div>
                                                        Registered Office - Pay Monthly
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5">
                                                    <div class="ef-review-title">Forwarding Address</div>
                                                </div>
                                                <div class="w-col w-col-7">

                                                    <div>
                                                        @RegistredOfficeAddress.HouseName @RegistredOfficeAddress.Street,@RegistredOfficeAddress.Locality,
                                                        @RegistredOfficeAddress.County,@RegistredOfficeAddress.PostCode,@RegistredOfficeAddress.Country
                                                        @* 15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM *@
                                                    </div>
                                                </div>
                                                <div class="w-col w-col-1">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-col w-col-1">
                                            <button type="button" class="btn btn-success" onclick="">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (BusinessOfficeAddress != null)
                            {
                                <div class="ef-review-business-address-wrapper">
                                    <h3>Business Office</h3>
                                    <div class="w-row">
                                        <div class="w-col w-col-11">
                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5">
                                                    <div class="ef-review-title">Addresses</div>
                                                </div>
                                                <div class="w-col w-col-7">
                                                    <div>
                                                        Business Office - Pay Monthly
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5">
                                                    <div class="ef-review-title">Business Address</div>
                                                </div>
                                                <div class="w-col w-col-7">

                                                    <div>
                                                        @BusinessOfficeAddress.HouseName @BusinessOfficeAddress.Street,@BusinessOfficeAddress.Locality,
                                                        @BusinessOfficeAddress.County,@BusinessOfficeAddress.PostCode,@BusinessOfficeAddress.Country
                                                        @* 15, Harrow Way, Watford, Hertfordshire, WD19 5EH, UNITED KINGDOM *@
                                                    </div>
                                                </div>
                                                <div class="w-col w-col-1">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="w-col w-col-1">
                                            <button type="button" class="btn btn-success" onclick="">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            }

                            <div class="ef-review-appointments">
                                <h3>Appointments</h3>
                                <div class="w-row">
                                    <div class="w-col w-col-11">
                                        @foreach (var item in Model.OfficersList){
                                        <div class="w-row row-margin ef-review-officer">
                                            <div class="w-row row-margin ef-head-row">
                                                <div class="w-col w-col-5 ef-review-officer-label-col">
                                                    <div class="ef-review-title"> Name</div>
                                                </div>
                                                <div class="w-col w-col-7 ef-officer-additional-info-col">
                                                    <div>
                                                            @($"{item.FirstName} {item.LastName}")
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Roles</div>
                                                </div>
                                                <div class="w-col w-col-7 ef-officer-additional-info-col">
                                                    <div>
                                                            @item.PositionName
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5 ef-review-officer-label-col">
                                                    <div class="ef-review-title">DOB</div>
                                                </div>
                                                <div class="w-col w-col-7 ef-officer-additional-info-col">
                                                        @item.DOB.ToString("dd/MM/yyyy")
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5 ef-review-officer-label-col">
                                                    <div class="ef-review-title"> Occupation</div>
                                                </div>
                                                <div class="w-col w-col-7 ef-officer-additional-info-col">
                                                    @item.Occupation
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Nationality</div>
                                                </div>
                                                <div class="w-col w-col-7 ef-officer-additional-info-col">
                                                    @item.Nationality
                                                </div>
                                            </div>
                                            @{
                                                    var ResidentialAdress = @Model.PersonAddressList.Where(x => x.OfficerId == item.OfficerId && x.IsResidetialAddress == true).FirstOrDefault();
                                                    var ServiceAdress = @Model.PersonAddressList.Where(x => x.OfficerId == item.OfficerId && x.IsServiceAddress == true).FirstOrDefault();
                                            }
                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5 ef-review-officer-label-col">
                                                    <div class="ef-review-title">
                                                        Residential Address
                                                    </div>
                                                </div>
                                                <div class="w-col w-col-7 ef-officer-additional-info-col">
                                                        @ResidentialAdress.HouseName @ResidentialAdress.Street,@ResidentialAdress.Locality,
                                                        @ResidentialAdress.County,@ResidentialAdress.PostCode,@ResidentialAdress.Country
                                                </div>
                                            </div>

                                            <div class="w-row row-margin">
                                                <div class="w-col w-col-5 ef-review-officer-label-col">
                                                    <div class="ef-review-title">Service Address</div>
                                                </div>
                                                <div class="w-col w-col-7 ef-officer-additional-info-col">
                                                        @ServiceAdress.HouseName @ServiceAdress.Street,@ServiceAdress.Locality,
                                                        @ServiceAdress.County,@ServiceAdress.PostCode,@ServiceAdress.Country
                                                </div>
                                            </div>
                                        </div>
                                        }
                                    </div>
                                    <div class="w-col w-col-1">
                                        <div class="w-col w-col-1 ef-review-edit-wrapper">
                                            <button type="button" class="btn btn-success" onclick="">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ef-review-documents">
                                <h3>Documents</h3>
                                @if (Model.UploadedDocuments != null && Model.UploadedDocuments.Count > 0)
                                {
                                    <label for="selectType" style="font-weight: 400; margin-top: 5px;">Proof of Identity:</label>
                                    <div class="w-row">
                                        @foreach (var item in Model.UploadedDocuments.Where(x => x.DocumentType == "identity"))
                                        {
                                            <div class="w-col w-col-11">
                                                <div class="w-row row-margin">
                                                    <div class="w-col w-col-5">
                                                        <div class="ef-review-title"> @item.DocumentName </div>
                                                    </div>
                                                    <div class="w-col w-col-7">
                                                        <div class="ef-review-official-document">
                                                            @item.FileName
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <label for="selectType" style="font-weight: 400; margin-top: 5px;">Proof of Address:</label>
                                    <div class="w-row">
                                        @foreach (var item in Model.UploadedDocuments.Where(x => x.DocumentType == "address"))
                                        {
                                            <div class="w-col w-col-11">
                                                <div class="w-row row-margin">
                                                    <div class="w-col w-col-5">
                                                        <div class="ef-review-title"> @item.DocumentName </div>
                                                    </div>
                                                    <div class="w-col w-col-7">
                                                        <div class="ef-review-official-document">
                                                            @item.FileName
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }

                                <div class="w-row">
                                    <div class="w-col w-col-1">
                                        <div class="w-col w-col-1 ef-review-edit-wrapper">
                                            <button type="button" class="btn btn-success" onclick="">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2>Legalities</h2>
                    <div class="ef-form-wrap ef-legalities-box last-margin">
                        <div class="w-row">
                            <div class="w-col w-col-12">
                                <label for="terms-lawful-activity">
                                    <input type="checkbox" class="w-checkbox-input" id="terms-lawful-activity" name="terms-lawful-activity">
                                    The shareholders confirm that the intended future activities of the company are lawful.
                                </label>
                                <p></p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end id:ef-panel-inner-content -->

            </div> <!-- end id:ef-panel-content -->
            <!-- start progress buttons -->
            <div class="w-row ef-next-prev-btn" id="ef-next-prev-btn">
                <div class="w-col w-col-6" style="padding-left: 0px;">
                    <button type="button" id="prevCompanyFormationTab" class="ef-btn prevstep" onclick="">Previous: Company Formation</button>
                </div>
                <div class="w-col w-col-6" style="padding-right: 0px;">
                    <button type="button" id="go-to-cart" class="ef-btn summary-nextstep">Save &amp; continue</button>
                </div>
            </div>
            <!-- end progress buttons -->

        </div> <!-- end class:ef-panel-wrapper -->

    </div>
</div>
<script>
    $('html, body').animate({
        scrollTop: $('.SummaryContainer').offset()?.top
    }, 400); // Smooth scroll over 800ms

    $("#prevCompanyFormationTab").click(function (){
        var tab = $("#spnCompanyFormation").text();
        var tabName = tab.replace(/[\s\d.]+/g, '').replace(/\d+/g, '');

        $.ajax({
            url: "/FormationPage/CompanyFormationSubTab",
            type: "get",
            success: function (result) {
                $("#FormationTabContent").html(result);
                window.location.reload();
                const newUrl = '?section=' + tabName;
                window.history.pushState({ path: newUrl }, '', newUrl);
            }
        });
    });
</script>