@page
@model Spendwise_WebApp.Pages.Admin.PackageFeatures.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div style="padding:1.5%;">
    <h1>Details</h1>

    <div>
        <h4>PackageFeatures</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PackageFeatures.Feature)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PackageFeatures.Feature)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PackageFeatures.FeatureInfo)
            </dt>
            <dd class="col-sm-10">
                @Html.Raw(Model.PackageFeatures.FeatureInfo)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.PackageFeatures.FeatureId" class="btn btn-dark">Edit</a> |
        <a asp-page="./Index" class="btn btn-dark">Back to List</a>
    </div>
</div>
