@page
@model Spendwise_WebApp.Pages.companiesModel
@{
    ViewData["Title"] = "companies";
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<link href="~/css/footable.core.css" rel="stylesheet" />
<link href="~/css/footable-demos.css" rel="stylesheet" />
<div class="col-five clientpage">
    <div class="container-inner">
        <div id="efPageContent" class="ui-widget">
            <div id="efAuthenticatedContent">
                <h2>Companies List</h2>
                <div class="efHeaderControlsContainer ui-widget-content efWidget ui-corner-all">
                    <form method="get" action="/companies/">
                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Sort by:</label>
                            <div class="col-sm-3">
                                <select class="form-select" name="sort" style="width:auto">
                                    <option value="cn">Company Name</option>
                                    <option value="id" selected="selected">Incorporation Date</option>
                                    <option value="st">Status</option>
                                </select>
                            </div>
                            <label for="inputPassword" class="col-sm-2 col-form-label">Show only:</label>
                            <div class="col-sm-3">
                                <select class="form-select" name="sf" style="width:auto" id="efCompanyStatusSelector">
                                    <option value="ALLSTATUSES">All</option>
                                    <option value="0">Incomplete</option>
                                    <option value="100">Submitted</option>
                                    <option value="160">Rejected</option>
                                    <option value="170">Validating</option>
                                    <option value="180">Supplied</option>
                                    <option value="190">Awaiting Documents</option>
                                    <option value="200">Accepted</option>
                                    <option value="300">Action Required</option>
                                    <option value="900">Cancelled</option>
                                    <option value="700">Imported</option>
                                </select>
                            </div>
                            <div class="col-sm-2"><input type="submit" value="Submit" class="efRight btn btn-success" role="button" aria-disabled="false"></div>
                        </div>
                    </form>
                </div>
                <div>
                    <table class="efTable table footable" width="100%">
                        <thead>
                            <tr>
                                <th data-toggle="true">Order ID</th>
                                <th data-hide="phone">Incorporated</th>
                                <th data-hide="phone">Name</th>
                                <th data-hide="phone">Number</th>
                                <th data-hide="phone">Auth. Code</th>
                                <th data-hide="phone">Status <span class="status-helper"><i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i></span></th>
                                <th data-hide="phone"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Companies)
                            {
                                <tr>
                                    <td> @item.CompanyId </td>
                                    <td> @(item.ApprovedDate != null ? @item.ApprovedDate.Value.ToString("dd'/'MM'/'yyyy") : "-") </td>
                                    <td> @item.CompanyName </td>
                                    <td> @(item.CompanyNumber != null ? @item.CompanyNumber : "-") </td>
                                    <td> @(item.CompanyAuthCode != null ? @item.CompanyAuthCode : "-") </td>
                                    <td> @item.CompanyStatus </td>
                                    <td style="text-align:right">
                                        <a class="btn btn-success" style="text-decoration: none;" onclick="btnCompanyDetails('@item.CompanyId', '@item.CompanyStatus', '@item.CompanyName')" role="button" aria-disabled="false">
                                            <span class="ui-button-text">
                                                <img src="/images/magnifier.png" alt="">
                                                View
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div style="overflow:hidden;margin-top:10px;"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function btnCompanyDetails(id, status, companyName) {
            const expires = 7 ? { expires: 7, secure: true, sameSite: 'None' } : {};
            if(status == "Approved") {
                 window.location.href = "/CompanySummary?id=" + id;
                 Cookies.set("ComanyId", id, expires);
            }
            else if(status == "InComplete" || status == "Action Required") {
                 window.location.href = "/FormationPage/Company-Formation"
                 Cookies.set("companyName", companyName, expires);
                 Cookies.set("ComanyId", id, expires);
            }
            else{
                showToast("Can't do anything", "warning");
            }
        }

        $(function () {
          $('table').footable();
              $('.footable tbody tr:first').addClass('footable-detail-show');
        });
    </script>
}
