@page
@model Spendwise_WebApp.Pages.my_detailsModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}

<style>
    .efTextInput.address {
        border: 0;
        margin-bottom: 5px;
        display: block;
    }
</style>
@{
    var billingAdd = Model.AddressList.Where(x => x.IsBilling == true).FirstOrDefault();
    var primaryAdd = Model.AddressList.Where(x => x.IsPrimary == true).FirstOrDefault();
}
<div class="col-five clientpage">
    <div class="container-inner">
        <div id="efPageContent" class="ui-widget">
            <div id="efAuthenticatedContent">


                <script>
                    jQuery(document).ready(function () {
                        jQuery(".efWebStateCompanySearch input").autocomplete({
                            source: "/ejax-company-search/",
                            position: { my: "right top", at: "right bottom" },
                            select: function (event, ui) {
                                event.preventDefault();
                                jQuery(".efWebStateCompanySearch input").val(ui.item.label);
                                document.location.href = "/account/company/?i=" + ui.item.value;
                            }
                        });
                        var m = jQuery(".efAccountMenuTabs");
                        m.find(".efAccountMainMenuItem").on('mouseover', function () {
                            jQuery(this).addClass("ui-state-active");
                        }).on('mouseleave', function () {
                            jQuery(this).removeClass("ui-state-active");
                        });
                        m.find(".efAccountMainMenuLi").on('mouseover', function () {
                            jQuery(this).find("ul").show();
                        }).on('mouseleave', function () {
                            jQuery(this).find("ul").hide();
                        });
                        m.find(".efAccountSubMenuItem").on('mouseover', function () {
                            jQuery(this).addClass("ui-state-active");
                        }).on('mouseleave', function () {
                            jQuery(this).removeClass("ui-state-active");
                        });
                    });
                </script>


                <div id="efUserDetailsPageWrapper">
                    <h2>My Details</h2>
                    <!-- The empty span tag in the error div refers to the server side validation , the id of the span is a specfic error, this allows for custom error events -->
                    <div class="ui-state-error ui-corner-all efAlert" id="error-message" style="display:none">
                        <span id="error-text"></span>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Message))
                    {
                        <div class="ui-state-highlight ui-corner-all efAlert" id="success-message">
                            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                            <span id="success-text">Details updated</span>
                        </div>
                    }

                    <!-- Main Form Content -->

                    <form name="update-user-details" id="update-user-details" method="post">
                        <input type="hidden" name="pa" value="update-details">
                        <input type="hidden" asp-for="User.UserID" />
                        <input type="hidden" asp-for="Address.AddressId" />

                        <div class="efUserDetailsWrapper efPanel ui-widget-content ui-corner-top">
                            <div class="ui-corner-top ui-widget-header efPanelHeader">Account Holder</div>
                            <div class="ui-corner-bottom efPanelContent">
                                <table class="efUserDetails efTableCondensed" width="100%">
                                    <tbody>
                                        <tr style="display: none;">
                                            <td>
                                                Organisation
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="Organisation" placeholder="Optional" value="Spendwise">
                                            </td>
                                        </tr>
                                        <input asp-for="Address.Street" class="form-control" type="hidden" placeholder="Title">
                                        <input asp-for="Address.Locality" class="form-control" type="hidden" placeholder="Title">
                                        <input asp-for="Address.Town" class="form-control" type="hidden" placeholder="Title">
                                        <input asp-for="Address.County" class="form-control" type="hidden" placeholder="Title">
                                        <input asp-for="Address.Country" class="form-control" type="hidden" placeholder="Title">

                                        <tr>
                                            <td width="30%">
                                                Title <span class="required_mark">*</span>
                                            </td>
                                            <td>
                                                <input asp-for="User.Title" class="form-control" type="text" placeholder="Title">
                                                <span asp-validation-for="User.Title" class="text-danger fw-bold p-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Firstname <span class="required_mark">*</span>
                                            </td>
                                            <td>
                                                <input asp-for="User.Forename" type="text" class="form-control" placeholder="First name">
                                                <span asp-validation-for="User.Forename" class="text-danger fw-bold p-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Lastname <span class="required_mark">*</span>
                                            </td>
                                            <td>
                                                <input asp-for="User.Surname" type="text" class="form-control" placeholder="Last name">
                                                <span asp-validation-for="User.Surname" class="text-danger fw-bold p-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Username <span class="required_mark">*</span>
                                            </td>
                                            <td>
                                                <input asp-for="User.Email" required="required" type="text" class="form-control" placeholder="Username">
                                                <span asp-validation-for="User.Email" class="text-danger fw-bold p-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                New Password
                                            </td>
                                            <td>
                                                <input asp-for="User.Password" type="password" class="form-control" placeholder="Optional" autocomplete="off">
                                                <span asp-validation-for="User.Password" class="text-danger fw-bold p-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Confirm Password
                                            </td>
                                            <td>
                                                <input type="password" class="form-control" placeholder="Optional" name="PasswordConfirm" id="PasswordConfirm">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="efUserPostalAddressesWrapper efPanel ui-widget-content ui-corner-top">
                            <div class="efPanelHeader ui-corner-top ui-widget-header">Contact Addresses</div>
                            <div class="efPanelContent ui-corner-bottom">
                                <table class="efPostalAddresses efTableCondensed" width="100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" width="30%">
                                                Primary <span class="required_mark">*</span>
                                            </td>
                                            <td>
                                                <input asp-for="@primaryAdd.HouseName" type="hidden" class="form-control" />
                                                <span class="form-control address" id="billingPostalAddress" name="billingPostalAddress" data-email-address="BILLING">
                                                    @primaryAdd.HouseName, @primaryAdd.Street,@primaryAdd.Locality, @primaryAdd.Town, @primaryAdd.County, @primaryAdd.PostCode, @primaryAdd.Country
                                                </span>
                                                <span asp-validation-for="@primaryAdd.HouseName" class="text-danger fw-bold p-1"></span>
                                                <div>
                                                    <button type="button" class="btn btn-success" id="ef-js-new-primary" role="button" aria-disabled="false">
                                                        <span class="ui-button-text">
                                                            <img src="~/images/arrow_rotate_clockwise.png" alt=" ">
                                                            Choose Another
                                                        </span>
                                                    </button>
                                                    <button type="button" class="btn btn-success" id="ef-js-edit-billing" role="button" aria-disabled="false">
                                                        <span class="ui-button-text" onclick="showPrimaryModal('primary')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: #fff;" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                                            </svg>
                                                            Edit
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <input asp-for="@primaryAdd.PostCode" type="hidden">

                                        <tr>
                                            <td valign="top">
                                                Billing <span class="required_mark">*</span>
                                            </td>
                                            <td>
                                                <span class="form-control address" id="billingPostalAddress" name="billingPostalAddress" data-email-address="BILLING">
                                                    @billingAdd.HouseName, @billingAdd.Street, @billingAdd.Locality, @billingAdd.Town, @billingAdd.County, @billingAdd.PostCode, @billingAdd.Country
                                                </span>
                                                <div>
                                                    <button type="button" class="btn btn-success" id="ef-js-new-primary" role="button" aria-disabled="false">
                                                        <span class="ui-button-text">
                                                            <img src="~/images/arrow_rotate_clockwise.png" alt=" ">
                                                            Choose Another
                                                        </span>
                                                    </button>
                                                    <button type="button" class="btn btn-success" id="ef-js-edit-billing" role="button" aria-disabled="false">
                                                        <span class="ui-button-text" onclick="showPrimaryModal('billing')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="color: #fff;" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                                            </svg>
                                                            Edit
                                                        </span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                        <input asp-for="@billingAdd.PostCode" type="hidden" name="billingPostalAddressVal">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="efUserEmailAddressesWrapper efPanel ui-widget-content ui-corner-top">
                            <div class="efPanelHeader ui-corner-top ui-widget-header">Email Addresses</div>
                            <div class="efPanelContent ui-corner-bottom">
                                <table class="efUserEmailAddresses efTableCondensed" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="30%">Primary <span class="required_mark">*</span></td>
                                            <td>
                                                <input asp-for="User.Email" type="text" billingnumber="" class="form-control email" data-email-address="PRIMARY">
                                                <span asp-validation-for="User.Email" class="text-danger fw-bold p-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Billing <span class="required_mark">*</span>
                                            </td>
                                            <td>
                                                <input asp-for="User.BillingEmail" type="text" class="form-control email" data-email-address="BILLING">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="efUserNumbersWrapper efPanel ui-widget-content ui-corner-top">
                            <div class="efPanelHeader ui-corner-top ui-widget-header">Phone Numbers</div>
                            <div class="efPanelContent ui-corner-bottom">
                                <table class="efUserNumbers efTableCondensed" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="30%">
                                                Primary
                                            </td>
                                            <td>
                                                <input asp-for="User.PhoneNumber" type="text" class="form-control number" data-email-address="PRIMARY">
                                                <span asp-validation-for="User.PhoneNumber" class="text-danger fw-bold p-1"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Billing
                                            </td>
                                            <td>
                                                <input asp-for="User.BillingPhoneNumber" type="text" class="form-control number" data-email-address="BILLING">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="efUserDetailsWrapper efPanel ui-widget-content ui-corner-top">
                            <div class="ui-corner-top ui-widget-header efPanelHeader">Notifications</div>
                            <div class="ui-corner-bottom efPanelContent">
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="30%">
                                                Newsletter
                                            </td>
                                            <td>
                                                <input type="checkbox" id="efNewsletterInput" name="newsletter">
                                                I would like to sign up to the newsletter distribution list
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Confirmation Statement
                                            </td>
                                            <td>
                                                <label for="confirmationstatement">
                                                    <input type="checkbox" id="confirmationstatement" checked="checked" name="returnreminders">
                                                    I would like to receive updates on the confirmation statement
                                                </label>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Accounts
                                            </td>
                                            <td>
                                                <label for="accounts">
                                                    <input type="checkbox" id="accounts" checked="checked" name="accounts">
                                                    I would like to receive updates on my accounts
                                                </label>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="efRegisterSubmitButton">
                            <button class="btn btn-success" type="submit" role="button" aria-disabled="false"><span class="ui-button-text">Update Details</span></button>
                        </div>
                        <input type="hidden" name="token" value="fa74241e7dcaac492a7178265f851ab2fd25be5cde756b99e9fdc20f40c1b599">
                    </form>

                </div>

            </div>

        </div>

    </div>
</div>

<input asp-for="@Model.AddressType" type="hidden" name="AddressType" form="secondaryForm">

<!-- Billing Address Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ui-dialog ui-draggable ui-resizable">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModalLabel">Confirmation Required</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="efEditInlineAddressDialog" class="ui-dialog-content ui-widget-content" scrolltop="0" scrollleft="0" style="display: block; border-width: 0; width: auto; min-height: 0px; height: 40px;">
                <p>Are you sure you wish to edit this address?</p>
                <p>Do not use this option if you wish to use a different address.</p>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" style="border-width: 1px 0 0 0;">
                    <div class="ui-dialog-buttonset" style="float: right; margin-top: 5px;">
                        <button type="button" text="confirm" class="btn btn-success" role="button" aria-disabled="false">
                            <span class="ui-button-text" onclick="openSecondaryFromPrimary()">
                                Confirm
                            </span>
                        </button>
                        <button type="button" text="cancel" class="btn btn-light" role="button" aria-disabled="false">
                            <span class="ui-button-text" onclick="hidePrimaryModal()">
                                Cancel
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="ui-resizable-handle ui-resizable-n" style="z-index: 1000;"></div>
            <div class="ui-resizable-handle ui-resizable-n" style="z-index: 1000;"></div>
            <div class="ui-resizable-handle ui-resizable-n" style="z-index: 1000;"></div>
            <div class="ui-resizable-handle ui-resizable-n" style="z-index: 1000;"></div>
            <div class="ui-resizable-handle ui-resizable-n" style="z-index: 1000;"></div>
            <div class="ui-resizable-handle ui-resizable-n" style="z-index: 1000;"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateAddressModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content ui-dialog ui-draggable ui-resizable">
            <div class="modal-header">
                <h5 class="modal-title"> Edit Address</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div id="efEditThisAddress" class="ui-dialog-content ui-widget-content" style="display: block; width: auto; min-height: 0px; height: 251px;" scrolltop="0" scrollleft="0">
                <form method="post" asp-page-handler="UpdateAddress" id="secondaryForm">
                    <table id="billingAddress" class="efPostalAddresses efTableCondensed">
                        <tbody>
                            <tr>
                                <input type="hidden" asp-for="Address.AddressId" value="@billingAdd.AddressId" />
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label class="efRegisterLabel">Name / Number: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.HouseName" value="@billingAdd.HouseName" class="form-control" id="houseNameTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label class="efRegisterLabel">Street: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Street" value="@billingAdd.Street" class="form-control" id="streetTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label class="efRegisterLabel">Locality: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Locality" value="@billingAdd.Locality" class="form-control" id="localityTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label class="efRegisterLabel">Town: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Town" value="@billingAdd.Town" class="form-control" id="townTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label class="efRegisterLabel">County: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.County" value="@billingAdd.County" class="form-control" id="countyTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label class="efRegisterLabel">Post Code: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.PostCode" value="@billingAdd.PostCode" class="form-control" id="postCodeTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td style="vertical-align:top">
                                    <label class="efRegisterLabel">Country: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Country" value="@billingAdd.Country" class="form-control" id="countryTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="primaryAddress" class="efPostalAddresses efTableCondensed" width="100%">
                        <tbody>
                            <tr>
                                <input type="hidden" asp-for="Address.AddressId" value="@primaryAdd.AddressId" />
                            </tr>
                            <tr>
                                <td>
                                    <label class="efRegisterLabel">Name / Number: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.HouseName" value="@primaryAdd.HouseName" class="form-control" id="houseNameTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="efRegisterLabel">Street: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Street" value="@primaryAdd.Street" class="form-control" id="streetTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="efRegisterLabel">Locality: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Locality" value="@primaryAdd.Locality" class="form-control" id="localityTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="efRegisterLabel">Town: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Town" value="@primaryAdd.Town" class="form-control" id="townTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="efRegisterLabel">County: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.County" value="@primaryAdd.County" class="form-control" id="countyTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="efRegisterLabel">Post Code: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.PostCode" value="@primaryAdd.PostCode" class="form-control" id="postCodeTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="efRegisterLabel">Country: <span class="required_mark">*</span></label>
                                </td>
                                <td>
                                    <input asp-for="Address.Country" value="@primaryAdd.Country" class="form-control" id="countryTextInput" type="text" placeholder="Title">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Submit Changes" style="font-size:12px;margin-top:10px;width:120px;float:right;" class="btn btn-success" role="button" aria-disabled="false">
                </form>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script>
        const primaryModal = new bootstrap.Modal(document.getElementById('addressModal'));
        const secondaryModal = new bootstrap.Modal(document.getElementById('updateAddressModal'));

        function hidePrimaryModal() {
            primaryModal.hide();
        }

        function openSecondaryFromPrimary() {
            primaryModal.hide(); // Hide primary first
            setTimeout(() => {
                if ($('#AddressType').val() == "billing") {
                    $('#primaryAddress').hide();
                    $('#billingAddress').show();
                    $("#primaryAddress").find("input").prop("disabled", true);
                    $("#billingAddress").find("input").prop("disabled", false);
                }
                else {
                    $('#billingAddress').hide();
                    $('#primaryAddress').show();
                    $("#billingAddress").find("input").prop("disabled", true);
                    $("#primaryAddress").find("input").prop("disabled", false);
                }
                secondaryModal.show(); // Then show secondary
            }, 100); // Wait for transition to finish
        }

        function hideSecondaryModal() {
            secondaryModal.hide();
        }

        function showPrimaryModal(type) {
            $('#AddressType').val(type);
            $('#addressModal').modal('show');
        }

        $('#updateAddressModal').on('show.bs.modal', function () {
            const source = $('#AddressType').val();
            $('input[name="AddressType"]').val(source);
        });
    </script>
    <script>

        const observer = new MutationObserver(() => {
          const modalIsOpen = document.querySelector('.modal.fade.show');
          if (modalIsOpen) {
            document.body.classList.add('modal-open');
          } 
        });

        observer.observe(document.body, {
          childList: true,
          subtree: true,
        });

    </script>
}
