@page
@model Spendwise_WebApp.Pages.order_historyModel
@{
    ViewData["Title"] = "order-history";
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}

<div class="col-five clientpage">
    <div class="container-inner">
        <div id="efPageContent" class="ui-widget">
            <div id="efAuthenticatedContent">
                <h2>Order History</h2>
                @* <script>
                    function confirm_delete(fid)
                    {
                        var agree=confirm("Are you sure you wish to delete this order?");
                        if (agree)
                        {
                            jQuery("#delform_"+fid).submit();
                        }

                    }

                </script> *@
                <div class="efAccountPanel">
                    <table class="efTable ui-widget-content">
                        <tbody>
                            <tr class="ui-widget-header">
                                <td>Order ID</td>
                                <td>Invoiced</td>
                                <td>Package / Type</td>
                                <td>Description</td>
                                <td>Status <span class="status-helper"><i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i></span></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            @foreach (var item in Model.Order)
                            {
                                <tr class="efOdd">
                                    <td id="OrderId"> @item.OrderId </td>
                                    <td> @item.OrderDate </td>
                                    <td> @item.PackageName </td>
                                    <td id="companyName"> @item.CompanyName </td>
                                    <td id="selectCompanyId" style="display: none;"> @item.CompanyId </td>
                                    @if (item.IsOrderComplete == false)
                                    {
                                        <td> Incomplete </td>
                                        <td>
                                            <button type="button" data-id="@item.OrderId" onclick="handleOrderDelete(@item.OrderId)" class="btn btn-success" role="button" aria-disabled="false">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                                    </svg>
                                                    Delete
                                                </span>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="submit" onclick="btnContinueClick('@item.OrderId', '@item.CompanyId', '@item.CompanyName')" class="btn btn-success" role="button" aria-disabled="false">
                                                <span class="ui-button-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                                    </svg>
                                                    Continue Order
                                                </span>
                                            </button>
                                        </td>
                                    }
                                    else
                                    {
                                        <td> Incomplete </td>
                                        <td>
                                            <a href="#" class="btn btn-success" role="button" aria-disabled="false">
                                                <span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                                    </svg>
                                                    Details
                                                </span>
                                            </a>
                                        </td>
                                    }
                                    @* <td> @item.IsOrderComplete == 0 ? "Incomplete" : "Complete" </td> *@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div style="overflow:hidden;margin-top:10px;"><a class="btn btn-success" style="float:right" href="/order-history/?p=1" role="button" aria-disabled="false">Next Page »</a></div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function handleOrderDelete(id){
            // var id = $(this).data("id");
            // var token = $('#antiForgeryForm input[name="__RequestVerificationToken"]').val();
            if(confirm("Are you sure you want to delete this?")) {
                $.ajax({
                    url: "/order-history?handler=Delete",
                    type: "POST",
                    data: JSON.stringify({ id: id }),
                    contentType: "application/json",
                    success: function () {
                        location.reload(); // or remove row from table without reload
                    },
                    error: function (err) {
                        console.log("Error deleting record.");
                    }
                });
            }
        };

        let selectedOrder = {
            orderId: null,
            companyId: null,
            companyName: null
        };

        function selectOrder(orderId, companyId, companyName) {
            selectedOrder.orderId = orderId;
            selectedOrder.companyId = companyId;
            selectedOrder.companyName = companyName;

            alert("Selected Order ID: " + orderId); // optional for debugging
        }

        function btnContinueClick(id, companyId, companyName) {
            window.location.href = '/BuyPackage?id=' + id;
            Cookies.remove("BillingAddress");

            const expires = 7 ? { expires: 7, secure: true, sameSite: 'Strict' } : {};
            Cookies.set("ComanyId", companyId, expires);
            Cookies.set("companyName", companyName, expires);
            Cookies.set("OrderId", id, expires);        
        }
    </script>
}
