@page
@model Spendwise_WebApp.Pages.paymentsModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<div class="col-five clientpage">
    <div class="container-inner">
        <div id="efPageContent" class="ui-widget">
            <div id="efAuthenticatedContent" class="scroll-mobile">
                <h2>Invoice History</h2>
                <table class="efTable ui-widget-content">
                    <tbody>
                        <tr class="ui-widget-header">
                            <td>ID</td>
                            <td>Invoiced</td>
                            <td>Company</td>
                            <td>Description</td>
                            <td>Net</td>
                            <td>Gross</td>
                            <td>Status <span class="status-helper"><i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var item in Model.InvoiceHistory)
                        {
                            <tr class="efOdd">
                                <td> @item.InvoiceId </td>
                                <td> @item.InvoiceDate.ToString("dd'/'MM'/'yyyy") </td>
                                <td> @item.CompanyName </td>
                                <td> @item.CompanyName </td>
                                <td> @item.NetAmount </td>
                                <td> @item.TotalAmount </td>
                                <td> Complete </td>
                                <td> <a href="javascript:void(0);" onclick="viewInvoice(@item.InvoiceId)"> Invoice </a> </td>
                                <td>
                                    <a href="javascript:void(0);" onclick="viewOrderDetails(@item.InvoiceId)" class="btn btn-success" role="button" aria-disabled="false">
                                        <span class="ui-button-text">
                                            @* <img style="float:left;margin-right:3px;" src="/assets/icons/magnifier.png" alt=""> *@
                                            Details
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function viewInvoice(invoiceId){
        window.open(`/payments?handler=GeneratePDF&invoiceId=${invoiceId}`, '_blank');
    }

    function viewOrderDetails(invoiceId) {
        window.location.href = "/Invoice-Details?id=" + invoiceId;
    }
</script>
