@page
@model Spendwise_WebApp.Pages.paymentsModel
@{
    Layout = "~/Pages/Shared/_InnerPage_Layout.cshtml";
}
<div class="col-five clientpage">
    <div class="container-inner">
        <div id="efPageContent" class="ui-widget">
            <div id="efAuthenticatedContent">
                <h2>Invoice History</h2>
                <table class="efTable ui-widget-content">
                    <tbody>
                        <tr class="ui-widget-header">
                            <td>ID</td>
                            <td>Invoiced</td>
                            <td>Company</td>
                            <td>Description</td>
                            <td>Net</td>
                            <td>Gross</td>
                            <td>Status <span class="status-helper"><i class="fa fa-info-circle fc-bcbcbc" aria-hidden="true"></i></span></td>
                            <td></td>
                            <td></td>
                        </tr>
                        @foreach (var item in Model.Order)
                        {
                            <tr class="efOdd">
                                <td> @item.OrderId </td>
                                <td> @item.InvoicedDate </td>
                                <td> @item.CompanyName </td>
                                <td> @item.CompanyName </td>
                                <td> @item.NetAmount </td>
                                <td> @item.TotalAmount </td>
                                @if (item.IsOrderComplete == false)
                                {
                                    <td> Incomplete </td>
                                }
                                else
                                {
                                    <td> Complete </td>
                                    <td> Invoice </td>
                                    <td>
                                        <a href="/order-details/?o=5029857" class="efButton efEditButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                            <span class="ui-button-text">
                                                @* <img style="float:left;margin-right:3px;" src="/assets/icons/magnifier.png" alt=""> *@
                                                Details
                                            </span>
                                        </a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
