@page
@model Spendwise_WebApp.Pages.Admin.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsAdmin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.created_on)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.created_on)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.created_by)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.created_by)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserID" class="btn btn-dark">Edit</a> |
    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
</div>
