@page
@model Spendwise_WebApp.Pages.Admin.PackageFeatures.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<div style="padding:1.5%;">
    <h1>Index</h1>

    <p style="padding:1%;text-align:right">
        <a asp-page="Create" class="btn btn-dark">Create New</a>
    </p>
    <table class=" table table-bordered table-hover dataTable dtr-inline">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PackageFeatures[0].Feature)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PackageFeatures)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Feature)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.FeatureId" class="btn btn-dark">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.FeatureId" class="btn btn-dark">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.FeatureId" class="btn btn-dark">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
